<video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="1280px" height="720px" data-setup="{}" autoplay>
    <source [src]="url"  type='video/mp4'/>
      <!-- http://video.chinanews.com/tvmining//News/MP4ZXW/CCYVNEWS/2018/01/09/Ls3weyy_1515508088761_yB1n19f_3314.mp4 -->
  <p class="vjs-no-js">
  </p>
</video> 
  <!-- <hr>
  <button (click)='onObtain()'>获取时间</button>
  <button (click)='onJump(5)'>跳转时间</button>
  <button (click)='getVideoLearnLog(5,1)'>getVideoLearnLog(1,5)</button>
  <button (click)='changeLearnStatus(8,"start",5)'>changeLearnStatus(8,start,5)</button>
  <button (click)='endPlay()'>endPlay()</button> -->