<div class="overview-page">
  <h1>计划概览</h1>
  <nz-divider></nz-divider>
  <div class="content">
    <div class="dashboard">
      <div class="box"><span class="number">0</span>
        <div class="title">计划学员数</div>
      </div>
      <div class="box"><span class="number">0</span>
        <div class="title">完成人数</div>
      </div>
      <div class="box"><span class="number">0</span>
        <div class="title">免费试看数量
          <span nz-popover nzPopoverContent="观看免费任务和视频的总次数">
            <i nz-icon nzType="question-circle" nzTheme="fill" class="help-icon"></i>
          </span>
        </div>
      </div>
      <div class="box"><span class="number">0</span>
        <div class="title">笔记数</div>
      </div>
      <div class="box"><span class="number">0</span>
        <div class="title">提问数</div>
      </div>
      <div class="box"><span class="number">0</span>
        <div class="title">话题数</div>
      </div>
    </div>
    <div class="statictic-body">
      <div class="statictic-header">学员趋势</div>
      <div class="date-range-picker">
        <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"></nz-range-picker>
      </div>
      <div echarts [options]="options" class="statictic-chart">
      </div>
    </div>
    <div class="statictic-body">
      <div class="statictic-header">完课率<span nz-popover nzPopoverContent="学完整个教学计划的人数 ÷ 该教学计划的学员总数">
          <i nz-icon nzType="question-circle" nzTheme="fill" class="help-icon"></i>
        </span></div>
      <div class="date-range-picker">
        <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"></nz-range-picker>
      </div>
      <div echarts [options]="options" class="statictic-chart">
      </div>
    </div>
  </div>
</div>
