<div class="overview-page">
  <h1>计划概览</h1>
  <nz-divider></nz-divider>
  <div class="content">
    <div class="dashboard">
      <div class="box"><span class="number">0</span>
        <div class="title">计划学员数</div>
      </div>
      <div class="box"><span class="number">0</span>
        <div class="title">完成人数</div>
      </div>
      <div class="box"><span class="number">0</span>
        <div class="title">任务数</div>
      </div>
      <div class="box"><span class="number">0</span>
        <div class="title">笔记数</div>
      </div>
      <div class="box"><span class="number">0</span>
        <div class="title">提问数</div>
      </div>
      <div class="box"><span class="number">0</span>
        <div class="title">话题数</div>
      </div>
    </div>
  </div>
</div>
