<nz-layout>

  <nz-divider></nz-divider>
  <div class="title">
    <nz-header>
      <div class="classlist-container">
        <app-news-sort-modal></app-news-sort-modal>
        <nz-divider nzDashed="true"></nz-divider>
      </div>
    </nz-header>
  </div>

  <nz-divider></nz-divider>
  <nz-content>
    <div class="left-content">

      <div class="listview">
        <app-news-listview-modal ></app-news-listview-modal>
      </div>
    </div>

    <div class="right-content">

      <div class="classlist-container">
        <app-news-classification-modal ></app-news-classification-modal>
      </div>
    </div>
  </nz-content>


</nz-layout>


