<nz-tabset class="computer-style" nzTabPosition="right">
  <nz-tab nzTitle="小组管理">
    <app-group-topic-management-table></app-group-topic-management-table>
  </nz-tab>
  <nz-tab nzTitle="小组话题管理">
    <app-group-topic></app-group-topic>
  </nz-tab>
</nz-tabset>
<nz-tabset class="mobile-style" nzTabPosition="top">
  <nz-tab nzTitle="小组管理">
    <app-group-topic-management-table></app-group-topic-management-table>
  </nz-tab>
  <nz-tab nzTitle="小组话题管理">
    <app-group-topic></app-group-topic>
  </nz-tab>
</nz-tabset>
