<div class="setting-page">
  <h2>班主任设置</h2>
  <nz-divider></nz-divider>
  <div class="setting-content">
    <div class="left-content">
      <span>班主任设置</span>
    </div>
    <div class="right-content">
      <nz-list nzBordered nzSize="small" [nzDataSource]="teacherList" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
        <ng-template #item let-item>
          <nz-list-item>
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
              <ng-template #nzTitle>
                <a href="https://ng.ant.design">{{ item.name }}</a>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <app-autocomplete-input (outputEvent)="searchTeacher($event)" [searchType]="'teacher'"></app-autocomplete-input>
      <div class="description"><span>班主任负责管理整个班级，班主任只有一位，并且必须要由老师来担任。</span></div>
      <div style="margin-top: 3%;">
        <button nz-button nzType="primary">保存</button>
      </div>
    </div>
  </div>
</div>
