<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzCollapsedWidth]="0">
    <div class="user-panel">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="搜索" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li (click)="navigateByUrl('/client/courselist')" nz-submenu nzTitle="禁毒讲堂" nzIcon="caret-down">
        <ul>
          <li nz-menu-item (click)="navigateByUrl('/client/courselist')">全部课程</li>
          <li nz-menu-item>学堂在线</li>
          <li nz-menu-item>寓教于乐</li>
          <li nz-menu-item>专题讲座</li>
        </ul>
      </li>
      <li (click)="navigateByUrl('/client/classlist')" nz-submenu nzTitle="班级" nzIcon="caret-down">
        <ul>
          <li nz-menu-item (click)="navigateByUrl('/client/courselist')">全部班级</li>
          <li nz-menu-item>小学班级</li>
          <li nz-menu-item>初中班级</li>
          <li nz-menu-item>高中班级</li>
        </ul>
      </li>
      <li nz-menu-item>教师培训</li>
      <li nz-menu-item (click)="navigateByUrl('/client/openresource')">开放资源</li>
      <li nz-menu-item (click)="navigateByUrl('/client/teacher')">师资介绍</li>
      <li nz-menu-item (click)="navigateByUrl('/client/groupmainlist')">小组列表</li>
      <li nz-submenu nzTitle="新闻资讯" nzIcon="caret-down" (click)="navigateByUrl('/client/news')">
        <ul>
          <li nz-menu-item>禁毒法规</li>
          <li nz-menu-item>禁毒新闻</li>
          <li nz-menu-item>经典案例</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
      <div class="empty-space mobile-style"></div>
      <img src="../../assets/img/avatar.jpg" />
      <ul class="main-menu" nz-menu nzMode="horizontal">
        <li (click)="navigateByUrl('/client/courselist')" nz-submenu nzTitle="禁毒讲堂" nzIcon="caret-down">
          <ul>
            <li nz-menu-item (click)="navigateByUrl('/client/courselist')">全部课程</li>
            <li nz-menu-item>学堂在线</li>
            <li nz-menu-item>寓教于乐</li>
            <li nz-menu-item>专题讲座</li>
          </ul>
        </li>
        <li (click)="navigateByUrl('/client/classlist')" nz-submenu nzTitle="班级" nzIcon="caret-down">
          <ul>
            <li nz-menu-item (click)="navigateByUrl('/client/classlist')">全部班级</li>
            <li nz-menu-item>小学班级</li>
            <li nz-menu-item>初中班级</li>
            <li nz-menu-item>高中班级</li>
          </ul>
        </li>
        <li nz-menu-item>教师培训</li>
        <li nz-menu-item (click)="navigateByUrl('/client/openresource')">开放资源</li>
        <li nz-menu-item (click)="navigateByUrl('/client/teacher')">师资介绍</li>
        <li nz-menu-item (click)="navigateByUrl('/client/groupmainlist')">小组列表</li>
        <li nz-submenu nzTitle="新闻资讯" nzIcon="caret-down" (click)="navigateByUrl('/client/newsall')">
          <ul>
            <li nz-menu-item>禁毒法规</li>
            <li nz-menu-item>禁毒新闻</li>
            <li nz-menu-item>经典案例</li>
          </ul>
        </li>
      </ul>
      <div class="empty-space"></div>
      <div class="user-panel">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="搜索" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <!-- 未登录时显示 -->
      <span *ngIf="!isLogin" class="user-operation">
        <span (click)="login()">登录</span>/<span class="register">注册</span>
      </span>

      <!-- 登陆后显示的页面 -->
      <span *ngIf="isLogin" class="admin-operation">
        <span><button class="btn-server" nzType="primary" nz-button nz-dropdown [nzDropdownMenu]="menu">管理后台<i nz-icon
              nzType="down"></i></button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="navigateByUrl('/admin')">管理后台</li>
              <li nz-menu-item (click)="navigateByUrl('/client/mine/teachingcourse')">我的教学</li>
              <li nz-menu-item (click)="navigateByUrl('/client/mine/mycourse')">我的学习</li>
            </ul>
          </nz-dropdown-menu>
        </span>&nbsp;
        <span><i [ngStyle]="" nz-icon [nzType]="'bell'" [nzTheme]="'fill'" class="bell-style"></i></span>&nbsp;
        <span>
          <nz-avatar nz-popover nzIcon="user" nzSrc="../../assets/img/userface-small.jpg" nzSize="large"
            [nzPopoverContent]="usercenter" nzPopoverPlacement="bottomRight"></nz-avatar>
          <ng-template #usercenter>
            <div class="user-center">
              <nz-avatar class="user-avatar pointer-perform" nzIcon="user" nzSrc="../../assets/img/userface.jpg"
                [nzSize]="80" (click)="navigateByUrl('个人页面的路由')">
              </nz-avatar>&nbsp;
              <span slot="title" style="font-size: 24px">admin</span>
              <br>
              <nz-divider></nz-divider>

              <div nz-row class="center-operation pointer-perform" nzType="flex" nzJustify="center">
                <div nz-col nzSpan="11">
                  <span (click)="navigateByUrl('/client/settings')"><i nz-icon [nzType]="'setting'"></i>个人设置</span>
                </div>
                <div nz-col nzSpan="4">
                  <nz-divider nzType="vertical"></nz-divider>
                </div>
                <div nz-col nzSpan="9">
                  <span (click)="logout()"><i nz-icon [nzType]="'logout'"></i>退出登录</span>
                </div>
              </div>


            </div>

          </ng-template>
        </span>
      </span>
      <i class="mobile-user-operation" nz-icon nz-popover nzTitle="个人面板" [nzContent]="userPanelContent"
        nzPlacement="bottomLeft" nzType="user"></i>
      <ng-template #userPanelContent>
        <div><span><i nz-icon nzType="login"></i>登录</span></div>
        <div><span><i nz-icon nzType="idcard"></i>注册</span></div>
      </ng-template>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Powered by dongdong v8.2.32 ©2017-2019 课程存档<br />
      课程内容版权均归 中国刑事警察学院禁毒学系 所有 辽ICP备14018221号
    </nz-footer>
  </nz-layout>
</nz-layout>
