<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzCollapsedWidth]="0">
    <div class="user-panel">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="搜索" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li (click)="navigateByUrl('/client/courselist')" nz-submenu nzTitle="禁毒讲堂" nzIcon="caret-down">
        <ul>
          <li nz-menu-item (click)="navigateByUrl('/client/courselist')">全部课程</li>
          <li nz-menu-item>学堂在线</li>
          <li nz-menu-item>寓教于乐</li>
          <li nz-menu-item>专题讲座</li>
        </ul>
      </li>
      <li (click)="navigateByUrl('/client/classlist')" nz-submenu nzTitle="班级" nzIcon="caret-down">
        <ul>
          <li nz-menu-item (click)="navigateByUrl('/client/courselist')">全部班级</li>
          <li nz-menu-item>小学班级</li>
          <li nz-menu-item>初中班级</li>
          <li nz-menu-item>高中班级</li>
        </ul>
      </li>
      <li nz-menu-item (click)="navigateByUrl('/client/openresource')">开放资源</li>
      <li nz-menu-item (click)="navigateByUrl('/client/teacher')">师资介绍</li>
      <li nz-menu-item (click)="navigateByUrl('/client/groupmainlist')">小组列表</li>
      <li nz-submenu nzTitle="新闻资讯" nzIcon="caret-down" (click)="navigateByUrl('/client/news')">
        <ul>
          <li nz-menu-item (click)="navigateByUrl('/client/newslaw')">禁毒法规</li>
          <li nz-menu-item (click)="navigateByUrl('/client/newsnews')">禁毒新闻</li>
          <li nz-menu-item (click)="navigateByUrl('/client/newscase')">经典案例</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
      <div class="empty-space mobile-style"></div>
      <img src="../../assets/img/avatar.jpg" />
      <ul class="main-menu" nz-menu nzMode="horizontal">
        <li (click)="navigateByUrl('/client/courselist')" nz-submenu nzTitle="禁毒讲堂" nzIcon="caret-down">
          <ul>
            <li nz-menu-item (click)="navigateByUrl('/client/courselist')">全部课程</li>
            <li nz-menu-item>学堂在线</li>
            <li nz-menu-item>寓教于乐</li>
            <li nz-menu-item>专题讲座</li>
          </ul>
        </li>
        <li (click)="navigateByUrl('/client/classlist')" nz-submenu nzTitle="班级" nzIcon="caret-down">
          <ul>
            <li nz-menu-item (click)="navigateByUrl('/client/classlist')">全部班级</li>
            <li nz-menu-item>小学班级</li>
            <li nz-menu-item>初中班级</li>
            <li nz-menu-item>高中班级</li>
          </ul>
        </li>
        <li nz-menu-item (click)="navigateByUrl('/client/openresource')">开放资源</li>
        <li nz-menu-item (click)="navigateByUrl('/client/teacher')">师资介绍</li>
        <li nz-menu-item (click)="navigateByUrl('/client/groupmainlist')">小组列表</li>
        <li nz-submenu nzTitle="新闻资讯" nzIcon="caret-down" (click)="navigateByUrl('/client/newsall')">
          <ul>
            <li nz-menu-item (click)="navigateByUrl('/client/newslaw')">禁毒法规</li>
            <li nz-menu-item (click)="navigateByUrl('/client/newsnews')">禁毒新闻</li>
            <li nz-menu-item (click)="navigateByUrl('/client/newscase')">经典案例</li>
          </ul>
        </li>
      </ul>
      <div class="empty-space"></div>
      <div class="user-panel">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="搜索" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <!-- 未登录时显示 -->
      <span *ngIf="!isLogin" class="user-operation">
        <span (click)="login()">登录</span>/<span class="register">注册</span>
      </span>

      <!-- 登陆后显示的页面 -->
      <span *ngIf="isLogin" class="admin-operation">
        <span><button class="btn-server" nzType="primary" nz-button nz-dropdown [nzDropdownMenu]="menu">管理后台<i nz-icon
              nzType="down"></i></button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="navigateByUrl('/admin')">管理后台</li>
              <li nz-menu-item (click)="navigateByUrl('/client/mine/teachingcourse')">我的教学</li>
              <li nz-menu-item (click)="navigateByUrl('/client/mine/mycourse')">我的学习</li>
            </ul>
          </nz-dropdown-menu>
        </span>&nbsp;
         <span>
          <i nz-icon nz-popover [nzPopoverContent]="notification" nzPopoverPlacement="bottomRight" [nzType]="'bell'" [nzTheme]="'fill'" class="bell-style"></i>
          <ng-template #notification class="notification">
            <div class="card-container">
              <nz-tabset  nzSize="large" [nzTabPosition]="'top'" >
                <nz-tab  [nzTitle]="'通知'">
                  <nz-list [nzDataSource]="notificationData" [nzRenderItem]="noitem" [nzItemLayout]="'horizontal'" [nzLoading]="">
                    <ng-template #noitem let-item>
                      <nz-list-item>
                         <i nz-icon nzType="notification"  nzTheme="outline" style="margin-right: 8px"></i>
                        <nz-list-item-meta
                          [nzTitle]="nzTitle1"
                          nzDescription="{{item.createdtime*1000 | date: 'yyyy-MM-dd HH:mm:ss'}}"
                        >
                          <ng-template #nzTitle1>
                            <div [ngStyle]="{'font-weight':!item.isread? 'bold':'none'}" *ngIf="item.type=='default'" >
                              <div [innerHTML]="decodeUnicode(item.jsonContents.message) " ></div>
                            </div>
                            <div [ngStyle]="{'font-weight':!item.isread? 'bold':'none'}" *ngIf="item.type=='thread'">
                              <a>{{item.jsonContents.threadUserNickname}}</a>
                              <span>在</span>
                              <a> {{decodeUnicode(item.jsonContents.courseTitle)}} </a>
                              <span>发表了问答</span>
                              <a>“{{decodeUnicode(item.jsonContents.threadTitle)}}”</a>
                            </div>
                            <div [ngStyle]="{'font-weight':!item.isread? 'bold':'none'}" *ngIf="item.type=='questionRemind'">
                              <span>课程《</span>
                              <a> {{decodeUnicode(item.jsonContents.courseTitle)}} </a>
                              <span>》有新问题</span>
                              <a>“{{decodeUnicode(item.jsonContents.questionTitle)}}”</a>
                            </div>
                            <div [ngStyle]="{'font-weight':!item.isread? 'bold':'none'}" *ngIf="item.type=='group-thread'">
                              <span>您的话题</span>
                              <a>“{{decodeUnicode(item.jsonContents.title)}}”</a>
                                <span *ngIf="item.jsonContents.type=='close'">被关闭</span>
                                <span *ngIf="item.jsonContents.type=='modify'">被修改</span>
                                <span *ngIf="item.jsonContents.type=='elite'">被加精</span>
                                <span *ngIf="item.jsonContents.type=='unelite'">被取消加精</span>
                                <span *ngIf="item.jsonContents.type=='top'">被置顶</span>
                                <span *ngIf="item.jsonContents.type=='untop'">被取消置顶</span>
                                <span *ngIf="item.jsonContents.type=='reply'">被回复</span>
                                <span *ngIf="item.jsonContents.type=='delete-post'">被删除</span>
                            </div>
                            <div [ngStyle]="{'font-weight':!item.isread? 'bold':'none'}" *ngIf="item.type=='global'">
                              <span>系统通知：</span>
                              <a>{{decodeUnicode(item.jsonContents.title)}}</a>
                            </div>
                            <div [ngStyle]="{'font-weight':!item.isread? 'bold':'none'}" *ngIf="item.type=='comment-post'">
                              <span>您在 班级 </span>
                              <a>{{decodeUnicode(item.jsonContents.title)}}</a>
                              <span> 中的评价已被回复，<a>点击查看</a></span>
                            </div>
                            <div [ngStyle]="{'font-weight':!item.isread? 'bold':'none'}" *ngIf="item.type=='thread.post_create'">
                              <a>{{item.jsonContents.nickname}}</a>
                              <span>在 话题 </span>
                              <a>{{decodeUnicode(item.jsonContents.title)}}</a>
                              <span> 回复了你</span>
                            </div>
                            <div [ngStyle]="{'font-weight':!item.isread? 'bold':'none'}" *ngIf="item.type=='learn-notice'">
                              <span>【课程公告】你正在学习的 <a [href]="item.jsonContents.url">{{decodeUnicode(item.jsonContents.title)}}</a> 发布了一个新的公告，快去看看吧。</span>
                            </div>
                          </ng-template>
                        </nz-list-item-meta>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
                  <div class="show-all">
                    <a (click)="navigateByUrl('/client/tidings/notifications')">查看全部通知</a>
                  </div>
                </nz-tab>
                <nz-tab  [nzTitle]="'私信'">
                  <nz-list [nzDataSource]="sixin" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="">
                    <ng-template #item let-item>
                      <nz-list-item>
                        <nz-list-item-meta
                          [nzTitle]="nzTitle1"
                          nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                          nzDescription="{{item.content}}">
                          <ng-template #nzTitle1>
                            <a>{{ item.fromNickName }}</a>
                          </ng-template>
                        </nz-list-item-meta>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
                  <div class="show-all">
                    <a (click)="navigateByUrl('/client/tidings/messages')">查看全部私信</a>
                  </div>
                </nz-tab>
              </nz-tabset>
            </div>
          </ng-template>
        </span>&nbsp;
        <span>
          <nz-avatar nz-popover nzIcon="user" nzSrc="../../assets/img/userface-small.jpg" nzSize="large"
            [nzPopoverContent]="usercenter" nzPopoverPlacement="bottomRight"></nz-avatar>
          <ng-template #usercenter>
            <div class="user-center">
              <nz-avatar class="user-avatar pointer-perform" nzIcon="user" nzSrc="../../assets/img/userface.jpg"
                [nzSize]="80" (click)="navigateByUrl('/client/userpage/' + userId)">
              </nz-avatar>&nbsp;
              <span slot="title" style="font-size: 24px">admin</span>
              <br>
              <nz-divider></nz-divider>

              <div nz-row class="center-operation pointer-perform" nzType="flex" nzJustify="center">
                <div nz-col nzSpan="11">
                  <span (click)="navigateByUrl('/client/settings')"><i nz-icon [nzType]="'setting'"></i>个人设置</span>
                </div>
                <div nz-col nzSpan="4">
                  <nz-divider nzType="vertical"></nz-divider>
                </div>
                <div nz-col nzSpan="9">
                  <span (click)="logout()"><i nz-icon [nzType]="'logout'"></i>退出登录</span>
                </div>
              </div>


            </div>

          </ng-template>
        </span>
      </span>
      <i class="mobile-user-operation" nz-icon nz-popover nzTitle="个人面板" [nzContent]="userPanelContent"
        nzPlacement="bottomLeft" nzType="user"></i>
      <ng-template #userPanelContent>
        <div><span><i nz-icon nzType="login"></i>登录</span></div>
        <div><span><i nz-icon nzType="idcard"></i>注册</span></div>
      </ng-template>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Powered by dongdong v8.2.32 ©2017-2019 课程存档<br />
      课程内容版权均归 中国刑事警察学院禁毒学系 所有 辽ICP备14018221号
    </nz-footer>
  </nz-layout>
</nz-layout>
