<nz-layout class="outer-content">


  <nz-sider nzWidth="200px">
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li nz-submenu nzTitle="选项" nzIcon="mail" nzOpen>
        <ul>
          <li nz-menu-group nzTitle="个人设置">
            <ul>
              <li nz-menu-item nzSelected (click)="navigateByUrl('/client/settings/information')">个人信息</li>
              <li nz-menu-item (click)="navigateByUrl('/client/settings/verification')">实名认证</li>
              <li nz-menu-item (click)="navigateByUrl('/client/settings/security')">安全设置</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>



  <nz-content class="inner-content">
    <router-outlet></router-outlet>
  </nz-content>



</nz-layout>
