.inner-layout {
  margin: 0 15px;
  box-shadow: #DCDFE6 0 0 10px;
}

.inner-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-content {
  width: 25%;
  padding-right: 10px;
  min-width: 150px;
}

.right-content {
  width: 75%;
  background: #fff;
  padding: 20px 50px;
  min-height: 800px;
  box-shadow: #DCDFE6 0 0 10px;
}

nz-content {
  color: black;
  padding-top: 1%;
  margin: 5px 20%;
  min-height: 500px;
}