nz-layout {
  padding: 0 5%;
}

.inner-layout {
  margin: 0 15px;
}

.inner-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-content {
  width: 25%;
  min-width: 150px;
}

.right-content {
  width: 74%;
  background: #fff;
  padding: 20px 50px;
  min-height: 800px;
}

nz-content {
  margin-top: 5px;
  min-height: 500px;
  color: black;
  padding-top: 1%;
}
