<nz-layout>
  <nz-header>
    <div class="header">
      <img class="header-image" [src]="">
      <div class="header-info">
        <div>{{'哈哈'}}<nz-tag [nzColor]="'#87d068'">{{'更新中'}}</nz-tag>
          <div>教师:{{'admin'}}</div>
        </div>
        <button nzSize="small" nz-button nzType="primary">返回课程主页</button>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <div class="content">
      <div class="left-content">
        <ul nz-menu nzMode="inline" class="sider-menu">
            <li nz-menu-item (click)="navigateByUrl('/client/course/1/base')" [nzSelected]="location?.pathname.endsWith('base')">基本信息</li>
            <li nz-menu-item (click)="navigateByUrl('/client/course/1/detail')" [nzSelected]="location?.pathname.endsWith('detail')">详细信息</li>
            <li nz-menu-item (click)="navigateByUrl('/client/course/1/cover')" [nzSelected]="location?.pathname.endsWith('cover')">封面图片</li>
          <li nz-menu-divider></li>
            <li nz-menu-item (click)="navigateByUrl('/client/course/1/file')" [nzSelected]="location?.pathname.endsWith('file')">课程文件</li>
            <li nz-menu-item (click)="navigateByUrl('/client/course/1/testpaper')" [nzSelected]="location?.pathname.endsWith('testpapter')">试卷管理</li>
            <li nz-menu-item (click)="navigateByUrl('/client/course/1/question')" [nzSelected]="location?.pathname.endsWith('question')">题目管理</li>
          <li nz-menu-divider></li>
            <li nz-menu-item>计划概览</li>
            <li nz-menu-item>计划任务</li>
            <li nz-menu-item (click)="navigateByUrl('/client/course/1/plansetting')" [nzSelected]="location?.pathname.endsWith('plansetting')">计划设置</li>
            <li nz-menu-item (click)="navigateByUrl('/client/course/1/teachersetting')" [nzSelected]="location?.pathname.endsWith('teachersetting')">教师设置</li>
            <li nz-menu-item (click)="navigateByUrl('/client/course/1/studentsetting')" [nzSelected]="location?.pathname.endsWith('studentsetting')">学员设置</li>
          <li nz-menu-divider></li>
            <li nz-menu-item (click)="navigateByUrl('/client/course/1/papers')" [nzSelected]="location?.pathname.endsWith('papers')">试卷批阅</li>
          <li nz-menu-divider></li>
            <li nz-menu-item (click)="navigateByUrl('/client/course/1/teaching_plan')" [nzSelected]="location?.pathname.endsWith('teaching_plan')">教学计划管理</li>
        </ul>
      </div>
      <div class="right-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </nz-content>
</nz-layout>
