<div *ngIf="isbatcheditable==true" class="cardstate">
    <nz-switch [(ngModel)]="isselected" [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate" (ngModelChange)="Batchselecte()"></nz-switch>
    <ng-template #checkedTemplate><i nz-icon type="check"></i></ng-template>
    <ng-template #unCheckedTemplate><i nz-icon type="close"></i></ng-template>
</div>

<nz-card style="width:200px;" nzHoverable [nzCover]="coverTemplate"
    [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
    <nz-card-meta nzTitle="{{data.name}}" nzDescription="时间:{{data.date}}">
    </nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
    <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
</ng-template>
<ng-template #actionSetting>
    <div (click)="showpreviewfirm()"><i nz-icon nzType="eye" nzTheme="outline"></i><span>预览</span></div>
</ng-template>
<ng-template #actionEdit>
    <div (click)="collectMessage()"><i nz-icon nzType="heart" nzTheme="outline"></i><span>收藏</span></div>
</ng-template>
<ng-template #actionEllipsis>
    <div>
        <i nz-icon nzType="setting" nzTheme="outline"></i>
        <nz-dropdown [nzPlacement]="'topCenter'">
            <span nz-dropdown>其他</span>
            <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="showeditfirm()"> <i nz-icon nzType="edit" nzTheme="outline"></i>编辑</li>
                <li nz-menu-item (click)="downloadMessage()"><i nz-icon nzType="download" nzTheme="outline"></i>下载</li>
                <li nz-menu-item (click)="showShareConfirm()"><i nz-icon nzType="share-alt" nzTheme="outline"></i>共享
                </li>
                <li nz-menu-item (click)="showDeleteConfirm()"><i nz-icon nzType="delete" nzTheme="outline"></i>删除</li>
            </ul>
        </nz-dropdown>
    </div>

</ng-template>



<nz-modal [(nzVisible)]="previewVisible" nzTitle="资料预览" (nzOnCancel)="handleCancel_preview()"
    (nzOnOk)="handleOk_preview()" nzOkText='确定' nzCancelText='取消' nzMaskClosable="false">
    <p>资料暂不支持预览！</p>
</nz-modal>

<nz-modal [(nzVisible)]="editVisible" nzTitle="资料编辑" (nzOnCancel)="handleCancel_edit()" (nzOnOk)="handleOk_edit()"
    nzOkText='保存' nzCancelText='取消' nzMaskClosable="false">
    <div>
        <b>标题:</b><input nz-input placeholder="请输入标题" [(ngModel)]="edit_title" />
    </div>
    <div style="margin-top:10px;">
        <b>标签:</b>
        <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" style="width: 100%" nzMode="multiple"
            nzPlaceHolder="请添加标签" [(ngModel)]="edit_tags">
            <nz-option *ngFor="let option of total_tags" [nzLabel]="option" [nzValue]="option">
            </nz-option>
        </nz-select>
        <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>
    </div>
    <div style="margin-top:10px;">
        <b>简介:</b><textarea rows="4" nz-input [(ngModel)]="edit_brief" placeholder="请输入简介"></textarea>
    </div>
    <div style="margin-top:10px;">
        <b>共享:</b>
        <nz-radio-group [(ngModel)]="edit_share">
            <label nz-radio nzValue="Share">共享到公共资料（其他老师可以查看、预览、引用该资料）</label>
            <label nz-radio nzValue="NotShare">仅自己可见</label>
        </nz-radio-group>
    </div>
</nz-modal>