<form nz-form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">

  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorUser">
      <nz-input-group nzPrefixIcon="user">
        <input
          type="text"
          nz-input
          formControlName="username"
          placeholder="请输入用户名"
        />
      </nz-input-group>

      <ng-template #errorUser let-control>
        <ng-container *ngIf="control.hasError('confirm')">
          用户名不存在！
        </ng-container>
        <ng-container *ngIf="control.hasError('required')">
          用户名为空！
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorPass">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="请输入密码"
        />
      </nz-input-group>

      <ng-template #errorPass let-control>
        <ng-container *ngIf="control.hasError('confirm')">
          密码错误！
        </ng-container>
        <ng-container *ngIf="control.hasError('required')">
          密码为空！
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      没有账户？
      <a (click)="register()">现在注册！</a>
      <a class="login-form-forget">忘记密码</a>
      <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isOkLoading">
        登录
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
