<nz-tabset class="computer-style" nzTabPosition="top">
  <nz-tab nzTitle="我的资料" (nzSelect) = "updateDataMyInfor()">
    <app-my-information #MyInformationchildComponent></app-my-information>
  </nz-tab>
  <nz-tab nzTitle="公共资料" (nzSelect) = "updateDataPublicInf()">
    <app-public-information #PublicInformationchildComponent></app-public-information>
  </nz-tab>
  <nz-tab nzTitle="收藏夹" (nzSelect) = "updateDataFavorites()">
    <app-favorites #FavoriteschildComponent></app-favorites>
  </nz-tab>
  <nz-tab nzTitle="来自分享" (nzSelect) = "updateDataSharing()">
    <app-from-sharing #SharingchildComponent></app-from-sharing>
  </nz-tab>



</nz-tabset>
