<nz-tabset class="computer-style" nzTabPosition="right">
  <nz-tab nzTitle="班级管理">
    <app-admin-class-management-table></app-admin-class-management-table>
  </nz-tab>
  <nz-tab nzTitle="班级推荐">
    <app-admin-class-recommendation-table></app-admin-class-recommendation-table>
  </nz-tab>
</nz-tabset>
<nz-tabset class="mobile-style" nzTabPosition="top">
  <nz-tab nzTitle="班级管理">
    <app-admin-class-management-table></app-admin-class-management-table>
  </nz-tab>
  <nz-tab nzTitle="班级推荐">
    <app-admin-class-recommendation-table></app-admin-class-recommendation-table>
  </nz-tab>
</nz-tabset>
