<div class="table-content">
  <nz-table #recordListTable
            [nzData]="recordList"
            [nzTotal]="total"
            [nzLoading]="loading"
            [nzPageSize]="8"
            [(nzPageIndex)]="pageIndex"
            (nzPageIndexChange)="searchData()">
    <thead>
    <tr>
      <th>名称</th>
      <th>学员数</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of recordListTable.data">
      <td   class="title" (click)="navigatTo('client/course/'+ data.coursesetid )"
      >{{data.coursesettitle}}</td>
      <td>{{data.studentnum}}</td>
      <td>{{data.status == 'published'? '已发布': (data.status == 'closed'? '已关闭': '未发布')}}</td>
      <td   style="cursor: pointer;">
        <i class="more-operation" nz-popover nzTitle="可执行操作" [nzContent]="operationTemplate" nzTrigger="hover" nz-icon nzType="more" nzTheme="outline" nzPlacement="bottom" ></i></td>
      <ng-template #operationTemplate>

        <div class="user-management-operation">
          <div>
            <span class="title" (click)="navigatTo('client/course/'+ data.coursesetid + '/base')">管理</span>
          </div>
          <div>
            <span class="title"  (click)="navigatTo('/client/course/'+ data.coursesetid +'/teaching_plan')">计划管理</span>
          </div>
          <div>
            <span class="title" (click)="navigatTo('/client/course/'+ data.coursesetid +'/file')">文件管理</span>
          </div>
        </div>
      </ng-template>
    </tr>
    </tbody>
  </nz-table>

</div>
