<div class="content">
  <div class="filter-condition">
    <div class="time-filter">
      <input class="name-containing-input" nz-input placeholder="用户名" [(ngModel)]="inputValue" />
      <button (click)="search()" nz-button nzType="primary" class="search-button"><i nz-icon nzType="search"></i>搜索</button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <nz-table
    #promotedTeacherListTable
    [nzData]="displayData"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="searchData()">
    <thead>
    <tr>
      <th>顺序号</th>
      <th>用户名</th>
      <th>推荐时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of promotedTeacherListTable.data">
      <td>{{data.promotedSeq}}</td>
      <td>{{data.nickName}}</td>
      <td>{{data.promotedTime}}</td>
      <td><i class="more-operation" nz-popover nzTitle="可执行操作" [nzContent]="operationTemplate" nzTrigger="hover" nz-icon nzType="more" nzTheme="outline" nzPlacement="bottom"></i></td>
      <ng-template #operationTemplate>
        <div class="user-management-operation">
          <div><span (click)="setRecommend(data.userId)"><i nz-icon nzType="edit" nzTheme="outline"></i>设置序号</span></div>
          <div><span (click)="removeRecommend(data.userId)"><i nz-icon nzType="minus-circle" nzTheme="outline"></i>取消推荐</span></div>
        </div>
      </ng-template>
    </tr>
    </tbody>
  </nz-table>
</div>
