<div class="content">
  <div class="input-filter">
    <input class="name-containing-input" nz-input placeholder="班级名称" [(ngModel)]="className" />
    <button (click)="filterClass()" nz-button nzType="primary" class="search-button"><i nz-icon nzType="search"></i>搜索</button>
    <nz-divider nzType="vertical"></nz-divider>
    <button (click)="createClass(classCreatingModal)" nz-button nzType="primary" class="create-button"><i nz-icon nzType="plus"></i>新建班级</button>
  </div>
  <nz-divider [nzText]="'班级：'+ classNum + '个'"></nz-divider>
  <nz-table
    #classListTable
    [nzData]="displayData"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="searchData()">
    <thead>
    <tr>
      <th>班级编号</th>
      <th>班级名称</th>
      <th>课程数</th>
      <th>学员数</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of classListTable.data">
      <td>{{data.id}}</td>
      <td>
        <span style="color: #108ee9; cursor: pointer;" (click)="navigateTo('/client/classroom/' + data.id + '/manage')">{{data.title}}</span><br/>
        <span>分类：{{data.classroomCategory ? data.classroomCategory: '- -'}}</span><br />
        <span *ngIf="data.recommended !== 0"><nz-tag [nzColor]="'#108ee9'">荐:{{data.recommendedTimeString}}/序号:{{data.recommendedSeq}}</nz-tag></span>
      </td>
      <td><span style="color: #108ee9; cursor: pointer;" (click)="checkCourseDetail(data.id)">{{data.courseNum}}</span></td>
      <td>{{data.studentNum}}</td>
      <td><span [ngStyle]="{color: data.status == 'published'? 'green': 'red'}">{{data.status == 'published'? '已发布': (data.status == 'closed'? '已关闭': '未发布')}}</span></td>
      <td><i class="more-operation" nz-popover nzTitle="可执行操作" [nzContent]="operationTemplate" nzTrigger="hover" nz-icon nzType="more" nzTheme="outline" nzPlacement="bottom"></i></td>
      <ng-template #operationTemplate>
        <div class="user-management-operation">
          <div><span (click)="management(data.id)"><i nz-icon nzType="eye" nzTheme="outline"></i>管理</span></div>
          <div>
            <span *ngIf="data.recommended == 0" (click)="recommendationClass(data.id)"><i nz-icon nzType="up-square" nzTheme="outline"></i>推荐班级</span>
            <span *ngIf="data.recommended == 1" (click)="cancelRecommendation(data.id)"><i nz-icon nzType="down-square" nzTheme="outline"></i>取消推荐</span>
          </div>
          <div>
            <span *ngIf="data.status != 'published'" (click)="publishClass(data.id)"><i nz-icon nzType="check" nzTheme="outline"></i>发布班级</span>
            <span *ngIf="data.status == 'published'" (click)="closeClass(data.id)"><i nz-icon nzType="close-circle" nzTheme="outline"></i>关闭班级</span>
          </div>
        </div>
      </ng-template>
    </tr>
    </tbody>

  </nz-table>

  <ng-template #classCreatingModal>
    <form nz-form [formGroup]="newClassForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>班级名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入班级名称！">
          <input
            nz-input
            id="title"
            formControlName="title"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
</div>
