<form nz-form [formGroup]="editForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">新计划名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="名称不能为空">
      <input nz-input formControlName="name" id="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mode">学习模式</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzValidateStatus="warning" nzWarningTip="教学计划创建后“学习模式”将不能修改。">
      <nz-radio-group formControlName="mode" id="mode">
        <label nz-radio [nzValue]="'freeMode'">自由式学习</label>
        <label nz-radio [nzValue]="'lockMode'">解锁式学习</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="expireTime">学习有效期</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzValidateStatus="warning" nzWarningTip="教学计划首次发布后“学习有效期”不能再更改模式">
      <nz-radio-group formControlName="expireTime" id="expireTime">
        <label nz-radio [nzValue]="'forever'">永久有效</label>
        <label nz-radio [nzValue]="'days'">随到随学</label>
        <label nz-radio [nzValue]="'date'">固定周期</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
</form>

<div nz-row>
  <div class="extra-field" nz-col nzSpan="14" nzOffset="6">
    <div class="type-a" *ngIf="editForm.controls.expireTime.value == 'days'">
      <nz-radio-group [(ngModel)]="timeType">
        <label nz-radio [nzValue]="'date'">按截止日期</label>
        <label nz-radio [nzValue]="'days'">按有效天数</label>
      </nz-radio-group>
      <div *ngIf="timeType == 'date'" class="time-a">
        <span>在  <nz-date-picker [(ngModel)]="expireDate" [nzDisabledDate]="disabledStartDate"></nz-date-picker>  前，学员可进行学习</span>
      </div>
      <div *ngIf="timeType == 'days'" class="time-b">
        <span>从加入当天起，在  <nz-input-number [(ngModel)]="dates" [nzMin]="1" [nzStep]="1"></nz-input-number>   内可进行学习</span>
      </div>
    </div>
    <div *ngIf="editForm.controls.expireTime.value == 'date'" class="type-b">
      <span>有效期限   <nz-range-picker style="width: 250px;" [(ngModel)]="dateRange" [nzDisabledDate]="disabledStartDate"></nz-range-picker></span>
    </div>
  </div>
</div>
