<nz-tabset class="computer-style" nzTabPosition="right">
  <nz-tab nzTitle="未回复">
    <app-admin-reply-management-table></app-admin-reply-management-table>
  </nz-tab>
  <nz-tab nzTitle="所有">
    <app-admin-reply-all-table></app-admin-reply-all-table>
  </nz-tab>
</nz-tabset>
<nz-tabset class="mobile-style" nzTabPosition="top">
  <nz-tab nzTitle="未回复">
    <app-admin-reply-management-table></app-admin-reply-management-table>
  </nz-tab>
  <nz-tab nzTitle="所有">
    <app-admin-reply-all-table></app-admin-reply-all-table>
  </nz-tab>
</nz-tabset>

