<div class="computer-style">
  <div style="background-image: url('/assets/img/background.jpg');height:200px">
    <div nz-row>
      <div nz-col nzSpan="8">
        <div style="text-align: right;margin-top: 20px;margin-right: 10px">
          <nz-avatar [nzSize]="130" nzIcon="user"
                     nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </div>
      </div>
      <div nz-col nzSpan="8" style="margin-right: 0;margin-top: 20px">
        <div class="name">name</div>
        <div class="title">user</div>
        <div class="title"> 0 粉丝 | 0 关注</div>
        <button nz-button nzType="primary" style="margin-top: 10px">关注</button>
      </div>
      <div nz-col nzSpan="8">
        <nz-card style="width:300px;margin-top:60px;background-color: rgba(255,255,255,0.5)">
          <p class="title">Card content</p>
        </nz-card>
      </div>
    </div>
  </div>

  <div style="text-align: center">
    <nz-tabset style="width: auto">
      <nz-tab nzTitle="个人介绍">
        这个人很懒，什么都没有留下。
      </nz-tab>
      <nz-tab *ngIf="this.type=='teacher'" nzTitle="在教课程">
        <nz-list [nzDataSource]="courses" style="margin:30px" 
        [nzRenderItem]="item" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                  <div>
                    <span style="float: left;">
                        <span><i nz-icon nzType="team" nzTheme="outline"></i>{{item.student_num}}</span>
                        <span style="margin-left: 10px;"><i nz-icon nzType="message" nzTheme="outline"></i>{{item.comment}}</span>
                    </span>
                  <span style="float: right;">
                          <span>{{item.price}}</span>
                      </span>          
                  </div>    
                </nz-card>
                
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>   
                  <nz-tag [nzColor]="'#f50'" *ngIf="this.item.status=='已完结'">{{item.status}}</nz-tag>
                  <nz-tag [nzColor]="'#87d068'" *ngIf="this.item.status=='更新中'">{{item.status}}</nz-tag>             
                </ng-template>
              <ng-template #coverTemplate>
               
                <img style="padding:10px;vertical-align: middle" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab *ngIf="this.type=='teacher'" nzTitle="在教班级">
        <nz-list [nzDataSource]="classes" style="margin:30px" 
        [nzRenderItem]="item1" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item1 let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                </nz-card>
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>                            
                </ng-template>
              <ng-template #coverTemplate>               
                <img src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab nzTitle="在学课程">
        <nz-list [nzDataSource]="courses" style="margin:30px" 
        [nzRenderItem]="item" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                  <div>
                    <span style="float: left;">
                        <span><i nz-icon nzType="team" nzTheme="outline"></i>{{item.student_num}}</span>
                        <span style="margin-left: 10px;"><i nz-icon nzType="message" nzTheme="outline"></i>{{item.comment}}</span>
                    </span>
                  <span style="float: right;">
                          <span>{{item.price}}</span>
                      </span>          
                  </div>    
                </nz-card>
                
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>   
                  <nz-tag [nzColor]="'#f50'" *ngIf="this.item.status=='已完结'">{{item.status}}</nz-tag>
                  <nz-tag [nzColor]="'#87d068'" *ngIf="this.item.status=='更新中'">{{item.status}}</nz-tag>             
                </ng-template>
              <ng-template #coverTemplate>
               
                <img style="padding:10px;vertical-align: middle" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab nzTitle="在学班级">
        <nz-list [nzDataSource]="classes" style="margin:30px" 
        [nzRenderItem]="item1" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item1 let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                </nz-card>
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>                            
                </ng-template>
              <ng-template #coverTemplate>               
                <img src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab nzTitle="收藏课程">
        <nz-list [nzDataSource]="stars" style="margin:30px" 
        [nzRenderItem]="item" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                      <div>
                        <span style="float: left;">
                            <span><i nz-icon nzType="team" nzTheme="outline"></i>{{item.student_num}}</span>
                            <span style="margin-left: 10px;"><i nz-icon nzType="message" nzTheme="outline"></i>{{item.comment}}</span>
                        </span>
                      <span style="float: right;">
                              <span>{{item.price}}</span>
                          </span>          
                        </div>    
                  
                </nz-card>
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>   
                  <nz-tag [nzColor]="'#f50'" *ngIf="this.item.status=='已完结'">{{item.status}}</nz-tag>
                  <nz-tag [nzColor]="'#87d068'" *ngIf="this.item.status=='更新中'">{{item.status}}</nz-tag>             
                </ng-template>
              <ng-template #coverTemplate>           
                <img style="padding:10px;vertical-align: middle" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab nzTitle="加入小组">
        <nz-list [nzDataSource]="groups" style="margin:30px" 
        [nzRenderItem]="item2" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item2 let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                </nz-card>
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>                            
                </ng-template>
              <ng-template #coverTemplate>               
                <img src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab nzTitle="关注/粉丝">
        <nav>
          <a routerLink="/client/userpage/{{userID}}/focus">关注</a>&nbsp;  
          <a routerLink="/client/userpage/{{userID}}/fans">粉丝</a>                
        </nav>     
        <router-outlet></router-outlet>

      </nz-tab>

    </nz-tabset>
  </div>
</div>

<div class="mobile-style">
  <div style="background-image: url('/assets/img/background.jpg');height:220px">
    <div nz-row>
      <div style="margin-top: 10px;text-align: center">
        <nz-avatar [nzSize]="70" nzIcon="user"
                   nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>

        <div class="namemo">name</div>
        <div class="titlemo">user</div>
        <div class="titlemo"> 0 粉丝 | 0 关注</div>

        <button nz-button nzType="primary" style="margin-top: 10px">关注</button>
      </div>
    </div>
  </div>

  <div style="text-align: center">
    <nz-tabset style="height:auto;width: 90%" nzTabPosition="left">
      <nz-tab nzTitle="个人介绍">
        这个人很懒，什么都没有留下。
      </nz-tab>
      <nz-tab *ngIf="this.type=='teacher'" nzTitle="在教课程">
        <nz-list [nzDataSource]="courses" style="margin:15px" 
        [nzRenderItem]="item_m" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item_m let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                  <div>
                    <span style="float: left;">
                        <span><i nz-icon nzType="team" nzTheme="outline"></i>{{item.student_num}}</span>
                        <span style="margin-left: 4px;"><i nz-icon nzType="message" nzTheme="outline"></i>{{item.comment}}</span>
                    </span>
                  <span style="float: right;">
                          <span>{{item.price}}</span>
                      </span>          
                  </div>    
                </nz-card>
                
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>  
                  <div>
                    <nz-tag [nzColor]="'#f50'" *ngIf="this.item.status=='已完结'">{{item.status}}</nz-tag>
                    <nz-tag [nzColor]="'#87d068'" *ngIf="this.item.status=='更新中'">{{item.status}}</nz-tag>      
                  </div> 
                         
                </ng-template>
              <ng-template #coverTemplate>
               
                <img style="padding:10px;vertical-align: middle" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab *ngIf="this.type=='teacher'" nzTitle="在教班级">
        <nz-list [nzDataSource]="classes" style="margin:15px" 
        [nzRenderItem]="item1" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item1 let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                </nz-card>
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>                            
                </ng-template>
              <ng-template #coverTemplate>               
                <img src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab nzTitle="在学课程">
        <nz-list [nzDataSource]="courses" style="margin:15px" 
        [nzRenderItem]="item_m" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item_m let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                  <div>
                    <span style="float: left;">
                        <span><i nz-icon nzType="team" nzTheme="outline"></i>{{item.student_num}}</span>
                        <span style="margin-left: 4px;"><i nz-icon nzType="message" nzTheme="outline"></i>{{item.comment}}</span>
                    </span>
                  <span style="float: right;">
                          <span>{{item.price}}</span>
                      </span>          
                  </div>    
                </nz-card>
                
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>  
                  <div>
                    <nz-tag [nzColor]="'#f50'" *ngIf="this.item.status=='已完结'">{{item.status}}</nz-tag>
                    <nz-tag [nzColor]="'#87d068'" *ngIf="this.item.status=='更新中'">{{item.status}}</nz-tag>      
                  </div> 
                         
                </ng-template>
              <ng-template #coverTemplate>
               
                <img style="padding:10px;vertical-align: middle" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab nzTitle="在学班级">
        <nz-list [nzDataSource]="classes" style="margin:15px" 
        [nzRenderItem]="item1" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item1 let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                </nz-card>
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>                            
                </ng-template>
              <ng-template #coverTemplate>               
                <img src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab nzTitle="收藏课程">
        <nz-list [nzDataSource]="stars" style="margin:15px" 
        [nzRenderItem]="item_m" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item_m let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                  <div>
                    <span style="float: left;">
                        <span><i nz-icon nzType="team" nzTheme="outline"></i>{{item.student_num}}</span>
                        <span style="margin-left: 4px;"><i nz-icon nzType="message" nzTheme="outline"></i>{{item.comment}}</span>
                    </span>
                  <span style="float: right;">
                          <span>{{item.price}}</span>
                      </span>          
                  </div>    
                </nz-card>
                
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>  
                  <div>
                    <nz-tag [nzColor]="'#f50'" *ngIf="this.item.status=='已完结'">{{item.status}}</nz-tag>
                    <nz-tag [nzColor]="'#87d068'" *ngIf="this.item.status=='更新中'">{{item.status}}</nz-tag>      
                  </div> 
                         
                </ng-template>
              <ng-template #coverTemplate>
               
                <img style="padding:10px;vertical-align: middle" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab nzTitle="加入小组">
        <nz-list [nzDataSource]="groups" style="margin:15px" 
        [nzRenderItem]="item2" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item2 let-item>
            <nz-list-item [nzContent]="nzContent">
              <ng-template #nzContent>
                <nz-card [nzCover]="coverTemplate" nzHoverable >
                  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
                </nz-card>
                <ng-template #titleTemplate>
                    <a *ngIf="this.item.isshow" style="color: black;">
                      {{item.title}}
                    </a>                            
                </ng-template>
              <ng-template #coverTemplate>               
                <img src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />
              </ng-template>
              
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </nz-tab>
      <nz-tab nzTitle="关注/粉丝">
        <nav>
          <a [routerLink]="[{ outlets: { r2: ['focus'] } }]">关注</a>&nbsp;  
          <a [routerLink]="[{ outlets: { r2: ['fans'] } }]">粉丝</a>                
        </nav>     
        <router-outlet name="r2"></router-outlet>
      </nz-tab>

    </nz-tabset>
  </div>


</div>
