.banner-img__wrapper {
  position: absolute;
  width: 1920px;
  height: 180px;
  left: 50%;
  margin-left: -960px;
  position-z:-20;
}
.banner__inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 180px;
}

.name {
  color: #fff;
  font-size: 30px;
  margin-bottom: 3px;
}

.title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 3px;
}

.namemo {
  color: #fff;
  font-size: 20px;
  margin-bottom: 3px;
}

.titlemo {
  color: #fff;
  font-size: 15px;
  margin-bottom: 3px;
}

.mobile-style {
  display: none;
}

@media screen and (max-width: 776px){
  .mobile-style {
    display: block;
  }
  .computer-style {
    display: none;
  }
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;

}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover,a:active {
  color: #458B74;
  background-color: #c8cdcf;
}
