.tasks-page {
  padding: 2% 3%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 0;
}

nz-divider {
  margin-top: 0;
}

.task-list-header {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 30px;
  background-color: #fff;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-list-header button {
  padding: 5px;
  margin-right: 3px;
  font-size: 12px;
}

.color-warning {
  color: #ffa51f !important;
}
