<div class="tasks-page">
  <h1>计划任务</h1>
  <nz-divider></nz-divider>
  <div class="content">
    <div class="task-list-header">
      <div>
        <span style="margin: 3px;">任务总数:</span><span class="color-warning">0</span>
      </div>
      <div>
        <button nz-button nzType="primary"><i nz-icon nzType="plus" nzTheme="outline"></i>任务</button>
        <button nz-button nzType="primary"><i nz-icon nzType="plus" nzTheme="outline"></i>批量添加</button>
        <button nz-button nzType="primary"><i nz-icon nzType="plus" nzTheme="outline"></i>章/节<i nz-icon
            nzType="caret-down" nzTheme="outline"></i></button>
      </div>
    </div>
  </div>
</div>
