<div class="content">
  <div class="filter-keyword">
    <nz-select class="select-control" [(ngModel)]="selectedNameContaining">
      <nz-option nzValue="username" nzLabel="用户名"></nz-option>
      <nz-option nzValue="truename" nzLabel="真实姓名"></nz-option>
      <nz-option nzValue="idcard" nzLabel="身份证号码"></nz-option>
    </nz-select>
    <input class="name-containing-input" nz-input placeholder="请输入关键字" [(ngModel)]="nameContainingKeyword" />
  </div>
  <div class="filter-time">
    <nz-range-picker class="time-area" [(ngModel)]="dateRange" nzShowTime></nz-range-picker>
    <button (click)="filter()" nz-button nzType="primary" class="search-button"><i nz-icon nzType="search"></i>搜索</button>
  </div>
  <nz-divider [nzText]="'数据总数： ' + total"></nz-divider>
  <nz-table
    #approvalRequestTable
    [nzData]="displayData"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="searchData()">
    <thead>
    <tr>
      <th>用户名</th>
      <th>真实姓名</th>
      <th>身份证号码</th>
      <th>身份证照片</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of approvalRequestTable.data">
      <td>{{data.nickName}}</td>
      <td>{{data.trueName}}</td>
      <td>{{data.idCard}}</td>
      <td><img [src]="data.faceImg"/> <img [src]="data.backImg"/> </td>
      <td><i class="more-operation" nz-popover nzTitle="可执行操作" [nzContent]="operationTemplate" nzTrigger="hover" nz-icon nzType="more" nzTheme="outline" nzPlacement="bottom"></i></td>
      <ng-template #operationTemplate>
        <div class="approval-operation">
          <div><span (click)="approvalSuccess(data.userId)"><i nz-icon nzType="eye" nzTheme="outline"></i>审核成功</span></div>
          <div><span (click)="approvalFailed(data.userId)"><i nz-icon nzType="edit" nzTheme="outline"></i>审核失败</span></div>
        </div>
      </ng-template>
    </tr>
    </tbody>
  </nz-table>
</div>
