<nz-layout>
    <nz-content class="container-content">
        <nz-layout>
            <nz-header class="nz-header_inner">
                <!--courseinf-mainheadpage-->
                <app-courseinf-header #header [joinINf] = "joinINf" [courseid]="courseid" [user]="user"  [teachplanId]="teachplanId"
                 (joinCourse)="updataload()" (exitCourse)="updataload()" (changePlan)="changeteachplan($event)"></app-courseinf-header>
            </nz-header>
            <nz-layout>
                <nz-content>
                    <nz-layout>
                        <!--
                        <nz-content class="nz-content_notice">
                            <nz-carousel nzAutoPlay>
                                <div nz-carousel-content class="Notice" *ngFor="let index of noticeHistory">
                                    <b>{{ index.content }}</b>
                                </div>
                            </nz-carousel>
                        </nz-content>-->
                        <!--courseinf-maintagpages-->
                        <nz-content class="nz-content_inner">
                            <!--<button nz-button style="position: relative;margin: 5px;min-width:120px;float: right;"
                                nzType="primary" (click)="showNoticeconfirm()">添加公告</button>-->
                            <nz-tabset>
                                <nz-tab nzTitle="介绍">
                                    <app-courseinf-introduce [introduces] = "introduces"></app-courseinf-introduce>
                                </nz-tab>
                                <nz-tab nzTitle="目录">
                                    <app-courseinf-courses [courses] = "courses"  [courseid]="courseid" [teachplanId]="teachplanId"></app-courseinf-courses>
                                </nz-tab>
                                <nz-tab *ngIf="joinINf!=null&&joinINf?.join==true" nzTitle="话题">                           
                                        <app-courseinf-topic [topics]="topics" [courseid]="courseid" [teachplanId]="teachplanId">
                                        </app-courseinf-topic>                       
                                </nz-tab>
                                <nz-tab nzTitle="笔记">
                                    <app-courseinf-notes [notes] = "notes" [courseid]="courseid" [teachplanId]="teachplanId"></app-courseinf-notes>
                                </nz-tab>
                                <nz-tab *ngIf="joinINf!=null&&joinINf?.join==true" nzTitle="资料区">
                                    <app-courseinf-material [courseid]="courseid" [teachplanId]="teachplanId" [materials]="materials"></app-courseinf-material>
                                </nz-tab>
                                <nz-tab nzTitle="评价">
                                    <app-courseinf-comment [courseid]="courseid" [teachplanId]="teachplanId" [comments]="comments"></app-courseinf-comment>   
                                </nz-tab>
                            </nz-tabset>
                        </nz-content>
                        <!--courseinf-courseList-->
                <!--        <nz-content class="nz-content_inner">
                            <app-courseinf-courselist-bottom [courseid]="courseid">
                            </app-courseinf-courselist-bottom>
                        </nz-content>-->
                    </nz-layout>
                </nz-content>
                <nz-sider [nzWidth]="280">
                    <nz-layout>
                        <app-courseinf-teacherlist-modal [teachers]="teachers" [courseid]="courseid" [teachplanId]="teachplanId"></app-courseinf-teacherlist-modal>
                        <!--courseinf-coursefeatures-->
                        <!--
                        <nz-content class="nz-content_inner">
                            <app-courseinf-coursefeature [coursefeaturedata]="coursefeaturedata">
                            </app-courseinf-coursefeature>
                        </nz-content>
                        -->
                        <!--courseinf-studentlist-->
                        <app-courseinf-newstudents [studentdata]="studentdata" [courseid]="courseid" [teachplanId]="teachplanId"></app-courseinf-newstudents>
                        <app-courseinf-studentdynamics-modal [class_or_course_id]="courseid" [type]="'course'">
                        </app-courseinf-studentdynamics-modal>
                    </nz-layout>
                </nz-sider>
            </nz-layout>
        </nz-layout>
    </nz-content>
</nz-layout>

<!--
<nz-modal [(nzVisible)]="NoticeVisible" nzTitle="公告管理" (nzOnCancel)="handleCancel_Notice()" (nzOnOk)="handleOk_Notice()"
    nzOkText='确定' nzCancelText='取消' [nzMaskClosable] = "false">
    <div style="margin-top:10px;">
        <nz-tabset [(nzSelectedIndex)]="currentNoticetag">
            <nz-tab nzTitle="添加公告">
                <div>
                    <b>发布时间:</b>&nbsp;&nbsp;&nbsp;
                    <nz-date-picker [(ngModel)]="editorstartTime_date" (ngModelChange)="onChange($event)"></nz-date-picker>
                    &nbsp;&nbsp;&nbsp;
                    <nz-time-picker [(ngModel)]="editorstartTime_time" [nzDefaultOpenValue]="defaultOpenValue"></nz-time-picker>
                </div>
                <div style="margin-top:10px;">
                    <b>结束时间:</b>&nbsp;&nbsp;&nbsp;
                    <nz-date-picker [(ngModel)]="editorendTime_date" (ngModelChange)="onChange($event)"></nz-date-picker>
                    &nbsp;&nbsp;&nbsp;
                    <nz-time-picker [(ngModel)]="editorendTime_time" [nzDefaultOpenValue]="defaultOpenValue"></nz-time-picker>
                </div>
                <div style="margin-top:10px;">
                    <b>公告内容:</b>
                    <quill-editor [styles]="{height: '250px'}" placeholder="请添加资料内容" [(ngModel)]="editorContent"></quill-editor>
                </div>
                <div style="margin-top:10px;">
                    <b>给学员发送通知:</b>&nbsp;&nbsp;&nbsp;
                    <nz-switch [(ngModel)]="editorSendToStudent"></nz-switch>
                </div>
            </nz-tab>
            <nz-tab nzTitle="历史公告">
                <nz-collapse>
                    <nz-collapse-panel *ngFor="let panel of noticeHistory; let ind = index" [nzHeader]="nzTitle"
                        [nzActive]="panel.active" [nzDisabled]="panel.disabled" [nzExtra]="extraTpl">
                        <p style="margin:0;">
                            {{panel.content}}
                        </p>
                        <ng-template #nzTitle>
                            [{{panel.teachplan}}]&nbsp;{{panel.content}}
                            &nbsp;&nbsp;&nbsp;{{panel.starttime}}
                        </ng-template>
                        <ng-template #extraTpl>
                                <i nz-icon class="editicon" nzType="edit" nzTheme="fill" (click)="editNotice(ind)"></i>&nbsp;&nbsp;
                                <i nz-icon class="editicon" nzType="delete" nzTheme="fill" (click)="showDeleteNoticeconfirm()"></i>
                            </ng-template>
                    </nz-collapse-panel>
                </nz-collapse>

            </nz-tab>
        </nz-tabset>
    </div>
</nz-modal>

-->