<div class="setting-page">
  <div class="content">
    <form nz-form [formGroup]="planInfoEditForm" [nzLayout]="'vertical'" style="width: 1300px">
      <nz-form-item>
        <nz-form-label nzSpan="4" nzRequired nzFor="name">计划名称</nz-form-label>
        <nz-form-control nzSpan="20" nzErrorTip="名称栏不能为空">
          <nz-input-group>
            <input
              nz-input
              formControlName="name"
              id="name"
              [nzAutocomplete]="auto"
            />
            <nz-autocomplete (selectionChange)="onChange($event)" #auto>
              <nz-auto-option *ngFor="let option of planList" [nzLabel]="option.title" [nzValue]="option.id">
                {{ option.title }}
              </nz-auto-option>
            </nz-autocomplete>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzSpan="4">学习模式</nz-form-label>
        <nz-form-control nzSpan="20">
          <span>{{learnMode}}</span>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzSpan="4" nzFor="rule">完成规则</nz-form-label>
        <nz-form-control nzSpan="20">
          <nz-radio-group formControlName="rule" id="rule">
            <label nz-radio [nzValue]="1">由任务完成条件决定</label>
            <label nz-radio [nzValue]="0">无限制</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzSpan="4" nzFor="intro">计划简介</nz-form-label>
        <nz-form-control nzSpan="20">
          <quill-editor formControlName="intro" id="intro"></quill-editor>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label nzSpan="4">课程目标</nz-form-label>
        <nz-form-control nzSpan="20">
          <div class="drag-list" cdkDropList (cdkDropListDropped)="dropTarget($event)" *ngIf="targetList.length > 0">
            <div *ngFor="let item of targetList" class="drag-box" cdkDrag>
              <div>
                <span title="可以改变顺序"><i nz-icon nzType="drag" nzTheme="outline"></i>
                  {{item}}</span>
              </div>
              <span class="perform"><i nz-icon nzType="close" (click)="deletetargetItem(item)"></i></span>
            </div>
          </div>
          <br>
          <nz-input-group nzSearch [nzAddOnAfter]="addTargetButton">
            <input formControlName="target" type="text" nz-input placeholder="输入课程目标" />
          </nz-input-group>
          <ng-template #addTargetButton>
            <button nz-button nzType="primary" nzSearch (click)="addCourseTarget()">添加</button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="4">适应人群</nz-form-label>
        <nz-form-control nzSpan="20">
          <div class="drag-list" cdkDropList (cdkDropListDropped)="dropAudience($event)" *ngIf="audienceList.length > 0">
            <div *ngFor="let item of audienceList" class="drag-box" cdkDrag>
              <div>
                <span title="可以改变顺序"><i nz-icon nzType="drag" nzTheme="outline"></i>
                  {{item}}</span>
              </div>
              <span class="perform"><i nz-icon nzType="close" (click)="deleteAudienceItem(item)"></i></span>
            </div>
          </div>
          <br>
          <nz-input-group nzSearch [nzAddOnAfter]="addAudienceButton">
            <input formControlName="tags" type="text" nz-input placeholder="输入课程目标群体" />
          </nz-input-group>
          <ng-template #addAudienceButton>
            <button nz-button nzType="primary" nzSearch (click)="addCourseAudience()">添加</button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzSpan="20" nzOffset="4">
          <button nz-button nzType="primary" (click)="submitForm()">提交</button>
        </nz-form-control>
      </nz-form-item>

    </form>
  </div>

</div>
