
<ul nz-menu nzMode="horizontal">
        <li nz-menu-item [nzSelected]="newKey" (click)="setOrder('New')">
                <i nz-icon nzType="mail"></i>
                最新
        </li>
        <li nz-menu-item [nzSelected]="hotKey" (click)="setOrder('Hot')">
                <i nz-icon nzType="fire" ></i>
                最热
        </li>
        <li nz-menu-item [nzSelected]="recKey"  (click)="setOrder('Rec')">
                <i nz-icon nzType="appstore"></i>
                推荐
        </li>
</ul>


