<div class="paper-page">
  <div class="header">
    <h1>试卷管理</h1>
    <div>
      <button nz-button nzType="primary" (click)="navigateByUrl('/client/course/'+courseId+'/testpapercreate')"><i
          nz-icon nzType="plus" nzTheme="outline"></i>创建试卷</button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="content">
    <nz-table #rowSelectionTable nzShowSizeChanger>
      <thead>
        <tr>
          <th nzShowCheckbox></th>
          <th width="30%">名称</th>
          <th>状态</th>
          <th>题目统计</th>
          <th>时间限制</th>
          <th>更新人/时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td nzShowCheckbox></td>
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <label nz-checkbox>全选</label>
  <button nz-button nzType="danger" nzSize="small" (click)="check()"><i nz-icon nzType="delete"
      nzTheme="outline"></i>删除</button>

  <p class="warning-info">提示：试卷一旦发布不能修改，发布后的试卷需要
    <strong style="color: #ffa51f;">添加到任务</strong>
    中才能正常使用。</p>
</div>
<ng-template #customTpl let-name>
  <nz-empty [nzNotFoundContent]="contentTpl">
    <ng-template #contentTpl>
      <span> 还没有试卷,点击右上角按钮, <a (click)="navigateByUrl('/client/course/'+courseId+'/testpapercreate')">创建一个新试卷</a></span>
    </ng-template>
  </nz-empty>
</ng-template>
