<div class="setting-page">
  <div style="display: flex; flex-direction: row; justify-content: space-between">
    <h2>教师设置</h2>
    <nz-select style="width: 50%" [(ngModel)]="planId" (ngModelChange)="onChange($event)">
      <nz-option *ngFor="let plan of planList" [nzValue]="plan.id" [nzLabel]="plan.title"></nz-option>
    </nz-select>
  </div>
  <nz-divider></nz-divider>
  <div class="setting-content">
    <div class="left-content">
      <span>设置教师</span>
    </div>
    <div class="right-content">
      <div class="drag-list" cdkDropList  (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of teacherList" class="drag-box" cdkDrag>
          <div class="list-info">
            <img class="avatar" [src]="item.smallAvatar.startsWith('public')? 'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png': item.smallAvatar" />
            <span>{{item.nickName}}</span>
          </div>
          <i style="cursor: pointer" nz-icon nzType="close" (click)="close(item.id)"></i>
        </div>
      </div>
      <div class="description">
        <span>相关页面中的老师列举将会按照这里设定的顺序显示。<br />教学服务团队成员有权制订学习计划、答疑、批阅作业/试卷、发起活动。</span>
      </div>
      <app-autocomplete-input (outputEvent)="addTeacher($event)" [searchType]="'teacher'" [searchScene]="'course'" [courseId]="planId"></app-autocomplete-input>
      <div style="margin-top: 3%;">
        <button nz-button nzType="primary">保存</button>
      </div>
    </div>
  </div>
</div>
