<ul nz-menu nzMode="horizontal" class="computer-style">
  <li nz-menu-item (click)="navigate('/admin/course')" [nzSelected]="location.pathname=='/admin/course'">课程管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/open-class')" [nzSelected]="location.pathname=='/admin/course/open-class'">公开课管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/class')" [nzSelected]="location.pathname=='/admin/course/class'">班级管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/topic')" [nzSelected]="location.pathname=='/admin/course/topic'">话题管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/message')" [nzSelected]="location.pathname=='/admin/course/message'">问答管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/message')" [nzSelected]="location.pathname=='/admin/course/message'">笔记管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/message')" [nzSelected]="location.pathname=='/admin/course/message'">评价管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/message')" [nzSelected]="location.pathname=='/admin/course/message'">分类管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/message')" [nzSelected]="location.pathname=='/admin/course/message'">标签管理</li>
</ul>

<ul nz-menu nzMode="vertical" style="width: 100%;" class="mobile-style">
  <li nz-menu-item (click)="navigate('/admin/course')" [nzSelected]="location.pathname=='/admin/course'">课程管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/open-class')" [nzSelected]="location.pathname=='/admin/course/open-class'">公开课管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/class')" [nzSelected]="location.pathname=='/admin/course/class'">班级管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/topic')" [nzSelected]="location.pathname=='/admin/course/topic'">话题管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/message')" [nzSelected]="location.pathname=='/admin/course/message'">问答管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/message')" [nzSelected]="location.pathname=='/admin/course/message'">笔记管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/message')" [nzSelected]="location.pathname=='/admin/course/message'">评价管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/message')" [nzSelected]="location.pathname=='/admin/course/message'">分类管理</li>
  <li nz-menu-item (click)="navigate('/admin/course/message')" [nzSelected]="location.pathname=='/admin/course/message'">标签管理</li>
</ul>
