<form nz-form [formGroup]="passwdEditForm" (ngSubmit)="edit()">
  <nz-form-item>
    <nz-form-label [nzSpan]="4">当前密码</nz-form-label>
    <nz-form-control nzErrorTip="请输入当前密码" [nzSpan]="18">
      <input
        type="password"
        nz-input
        formControlName="currentPasswd"
        placeholder="请输入当前密码"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">新密码</nz-form-label>
    <nz-form-control nzErrorTip="请输入新密码" [nzSpan]="18">
      <input
        type="password"
        nz-input
        formControlName="newPasswd"
        placeholder="请输入新密码"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">确认密码</nz-form-label>
    <nz-form-control nzErrorTip="请输入确认密码" [nzSpan]="18">
      <input
        type="password"
        nz-input
        formControlName="newPasswdAgain"
        placeholder="请再次输入新密码"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button class="edit-form-button" [nzType]="'primary'">
        修改
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
