<div class="content">
  <div class="selection-filter">
    <nz-cascader nzChangeOnSelect [nzPlaceHolder]="'课程分类'" [nzOptions]="options" [(ngModel)]="courseClassification"></nz-cascader>
    <nz-divider nzType="vertical"></nz-divider>
    <nz-select class="select-control" [(ngModel)]="courseStatus" nzAllowClear="false" nzPlaceHolder="课程状态">
      <nz-option nzValue="" nzLabel="全部状态"></nz-option>
      <nz-option nzValue="-1" nzLabel="未发布"></nz-option>
      <nz-option nzValue="1" nzLabel="已发布"></nz-option>
      <nz-option nzValue="0" nzLabel="已关闭"></nz-option>
    </nz-select>
    <nz-divider nzType="vertical"></nz-divider>
    <nz-select class="select-control" nzAllowClear="false" [(ngModel)]="courseType" nzPlaceHolder="课程类型">
      <nz-option nzValue="0" nzLabel="普通课程"></nz-option>
      <nz-option nzValue="1" nzLabel="班级课程"></nz-option>
    </nz-select>
  </div>
  <div class="input-filter">
    <input class="name-containing-input" nz-input placeholder="请输入标题" [(ngModel)]="title" />
    <nz-divider nzType="vertical"></nz-divider>
    <input class="name-containing-input" nz-input placeholder="请输入创建者名字" [(ngModel)]="creator" />
    <button (click)="filterCourse()" nz-button nzType="primary" class="search-button"><i nz-icon nzType="search"></i>搜索</button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="danger" class="create-button"><i nz-icon nzType="plus"></i>新增课程</button>
  </div>
  <nz-divider [nzText]="'课程总数：' + totalCourse"></nz-divider>
  <nz-table
    #courseListTable
    [nzData]="displayData"
    [nzFrontPagination]="false"
    [nzTotal]="totalCourse"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="searchData()">
    <thead>
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th *ngIf="courseType == '0'">计划数</th>
        <th>课程状态</th>
        <th *ngIf="courseType == '1'">所在班级</th>
        <th *ngIf="courseType == '0'">学员数</th>
        <th>创建者/时间</th>
        <th>连载状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of courseListTable.data">
        <td>{{data.courseId}}</td>
        <td>{{data.courseName}}</td>
        <td *ngIf="courseType == '0'">{{data.planNum}}</td>
        <td>{{data.courseStatus}}</td>
        <td *ngIf="courseType == '1'">{{data.courseClass}}</td>
        <td *ngIf="courseType == '0'">{{data.stuNum}}</td>
        <td>
          <span>{{data.creator}}</span><br/>
          <span>{{data.creatTime}}</span>
        </td>
        <td>{{data.serialStatus}}</td>
        <td><i class="more-operation" nz-popover nzTitle="可执行操作" [nzContent]="operationTemplate" nzTrigger="hover" nz-icon nzType="more" nzTheme="outline" nzPlacement="bottom"></i></td>
        <ng-template #operationTemplate>
          <div class="user-management-operation">
            <div>
              <span *ngIf="data.recommend==0" (click)="showRecommendCourseModal(data.courseId)"><i nz-icon nzType="up-square" nzTheme="outline"></i>推荐课程</span>
              <span *ngIf="data.recommend==1" (click)="cancelRecommendCourse(data.courseId)"><i nz-icon nzType="down-square" nzTheme="outline"></i>取消推荐</span>
            </div>
            <div><span (click)="copyCourse(data)"><i nz-icon nzType="copy" nzTheme="outline"></i>复制课程</span></div>
            <div>
              <span *ngIf="data.courseStatus == '已关闭' || data.courseStatus == '未发布'" (click)="publishCourse(data.courseId)"><i nz-icon nzType="check-circle" nzTheme="outline"></i>发布课程</span>
              <span *ngIf="data.courseStatus == '已发布'" (click)="closeCourse(data.courseId)"><i nz-icon nzType="stop" nzTheme="outline"></i>关闭课程</span>
            </div>
            <div><span (click)="deleteCourse(data.courseId)"><i nz-icon nzType="delete" nzTheme="outline"></i>删除课程</span></div>
          </div>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
</div>
