<div class="container">
  <h2>创建小组</h2>
  <nz-divider></nz-divider>
  <form nz-form [formGroup]="threadCreatingForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">小组名称：</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="标题不能为空！">
        <input nz-input formControlName="title" id="title" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="content" nzRequired>小组介绍：</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="内容不能为空！">
        <quill-editor formControlName="content" id="content"></quill-editor>
      </nz-form-control>
    </nz-form-item>
    <div nz-row>
      <div nz-col [nzOffset]="6" [nzSm]="14" >
        <button nz-button nzType="primary" (click)="addNewGroup()">创建</button>
      </div>
    </div>
  </form>

</div>


