<div class="content">
  <div class="selection-filter">
    <nz-cascader nzChangeOnSelect [nzPlaceHolder]="'课程分类'" [nzOptions]="options" [(ngModel)]="courseClassification"></nz-cascader>
    <nz-divider nzType="vertical"></nz-divider>
    <nz-select class="select-control" [(ngModel)]="courseStatus" nzAllowClear="false" nzPlaceHolder="课程状态">
      <nz-option nzValue="" nzLabel="全部状态"></nz-option>
      <nz-option nzValue="-1" nzLabel="未发布"></nz-option>
      <nz-option nzValue="1" nzLabel="已发布"></nz-option>
      <nz-option nzValue="0" nzLabel="已关闭"></nz-option>
    </nz-select>
  </div>
  <div class="input-filter">
    <input class="name-containing-input" nz-input placeholder="请输入标题" [(ngModel)]="title" />
    <nz-divider nzType="vertical"></nz-divider>
    <input class="name-containing-input" nz-input placeholder="请输入创建者名字" [(ngModel)]="creator" />
    <button (click)="filterCourse()" nz-button nzType="primary" class="search-button"><i nz-icon nzType="search"></i>搜索</button>
  </div>
  <nz-divider></nz-divider>
  <nz-table
    #openClassListTable
    [nzData]="displayData"
    [nzFrontPagination]="false"
    [nzTotal]="totalCourse"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="searchData()">
    <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>状态</th>
      <th>创建者</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of openClassListTable.data">
      <td>{{data.courseId}}</td>
      <td>
        <span style="cursor: pointer; color: #108ee9;" (click)="navigateTo(data.courseId)">{{data.courseName}}</span><br/>
        <span>分类：{{data.courseClassification}} <nz-tag [nzColor]="'#108ee9'">荐:{{data.promotedTime}}/序号:{{data.promotedSeq}}</nz-tag>></span>
      </td>
      <td>{{data.courseStatus}}</td>
      <td>
        <span style="color: #108ee9;" (click)="openTeacherIntroModal(data.creatorId)">{{data.creator}}</span><br/>
        <span>{{data.creatTime}}</span>
      </td>
      <td><i class="more-operation" nz-popover nzTitle="可执行操作" [nzContent]="operationTemplate" nzTrigger="hover" nz-icon nzType="more" nzTheme="outline" nzPlacement="bottom"></i></td>
      <ng-template #operationTemplate>
        <div class="user-management-operation">
          <div><span><i nz-icon nzType="book" nzTheme="outline"></i>管理课程</span></div>
          <div>
            <span *ngIf="data.recommend==0" (click)="showRecommendCourseModal(data.courseId)"><i nz-icon nzType="up-square" nzTheme="outline"></i>推荐课程</span>
            <span *ngIf="data.recommend==1" (click)="cancelRecommendCourse(data.courseId)"><i nz-icon nzType="down-square" nzTheme="outline"></i>取消推荐</span>
          </div>
          <div><span (click)="closeCourse(data.courseId)"><i nz-icon nzType="stop" nzTheme="outline"></i>删除课程</span></div>
        </div>
      </ng-template>
    </tr>
    </tbody>
  </nz-table>
</div>
