<nz-tabset>
        <nz-tab nzTitle="我管理的小组">
          <app-my-group-join></app-my-group-join>
        
    <!--
    <ng-template #actionSetting>
      <i nz-icon nzType="setting"></i>
    </ng-template>
    <ng-template #actionEdit>
      <i nz-icon nzType="edit"></i>
    </ng-template>
    <ng-template #actionEllipsis>
      <i nz-icon nzType="ellipsis"></i>
    </ng-template>
-->
        </nz-tab>
        <nz-tab nzTitle="我加入的小组">
          Content of Tab Pane 2
        </nz-tab>
    </nz-tabset>
