<div class="content">
  <div class="filter-condition">
    <nz-select class="select-control" [(ngModel)]="selectedStateFilterValue" nzAllowClear nzPlaceHolder="话题状态">
      <nz-option nzValue="open" nzLabel="开启"></nz-option>
      <nz-option nzValue="close" nzLabel="关闭"></nz-option>
    </nz-select>
    <nz-select class="select-control" [(ngModel)]="selectedAttributeFilterValue" nzAllowClear nzPlaceHolder="属性">
      <nz-option nzValue="best" nzLabel="加精"></nz-option>
      <nz-option nzValue="good" nzLabel="置顶"></nz-option>
    </nz-select>
    <input class="name-containing-input" nz-input placeholder="所属小组" [(ngModel)]="inputValue" />
    <input class="name-containing-input" nz-input placeholder="话题名称关键词" [(ngModel)]="inputValue" />
    <input class="name-containing-input" nz-input placeholder="创建者" [(ngModel)]="inputValue" />
    <button (click)="filterTopic()" nz-button nzType="primary" class="search-button"><i nz-icon nzType="search"></i>搜索</button>
  </div>
  <div class="operate">
    <button
      nz-button
      [disabled]="numberOfChecked === 0"
      [nzType]="'primary'"
      [nzLoading]="isOperating"
      (click)="operateData()"
    >
      删除
      </button>
        <span *ngIf="numberOfChecked">选中 {{ numberOfChecked }} 条记录</span>
  </div>

  <nz-table
    #topicListTable
    [nzData]="displayData"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="searchData()">
    <thead>

    <tr>
      <th

        nzShowCheckbox
        [(nzChecked)]="isAllDisplayDataChecked"
        [nzIndeterminate]="isIndeterminate"
        (nzCheckedChange)="checkAll($event)"
      ></th>
      <th>编号</th>
      <th>名称</th>
      <th>属性</th>
      <th>创建者</th>
      <th>所属小组</th>
      <th>回复数</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let data of topicListTable.data; let i of topicListTable.data.length">
     <td
        nzShowCheckbox
        [(nzChecked)]="mapOfCheckedId[data.id]"
        [nzDisabled]="data.disabled"
        (nzCheckedChange)="refreshStatus()"
      ></td>
      <td>{{data.o_number}}</td>
      <td>{{data.group_name}}</td>
     <td><nz-tag nzMode="checkable" [nzChecked]="true" (nzCheckedChange)="checkChange($event)">精</nz-tag>
       <nz-tag nzMode="checkable" [nzChecked]="true" (nzCheckedChange)="checkChange($event)">顶</nz-tag>
       <!--{{data.best}}--><br/>
       <span class="role" *ngFor="let role of data.roles">{{role}}</span></td>
     <td>{{data.creater}}</td>
      <td>{{data.group_for}}</td>
      <td>{{data.reply_number}}</td>
      <td>{{data.open}}<br/>
        <span class="role" *ngFor="let role of data.roles">{{role}}</span></td>
      <td><i class="more-operation" nz-popover nzTitle="操作" [nzContent]="operationTemplate" nzTrigger="hover" nz-icon nzType="more" nzTheme="outline" nzPlacement="bottom"></i></td>
      <ng-template #operationTemplate>
        <div class="user-management-operation">
          <div><span (click)="viewUserInfo(data.userId)"><i nz-icon nzType="eye" nzTheme="outline"></i>查看用户信息</span></div>
          <div><span (click)="editUserInfo(data.userId)"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑用户信息</span></div>
          <div><span (click)="showUserRoleGroupModal(data, rolesCheckBox)"><i nz-icon nzType="team" nzTheme="outline"></i>设置用户组</span></div>
          <div><span><i nz-icon nzTheme="outline" nzType="smile"></i>修改用户头像</span></div>
          <div><span><i nz-icon nzType="file-protect" nzTheme="outline"></i>修改密码</span></div>
          <div>
            <span (click)="showLockedConfirmModal(data.userId, 1)" *ngIf="data.locked==0"><i nz-icon nzType="lock" nzTheme="outline"></i>封禁用户</span>
            <span (click)="showLockedConfirmModal(data.userId, 0)" *ngIf="data.locked==1"><i nz-icon nzType="unlock" nzTheme="outline"></i>解禁用户</span>
          </div>
        </div>
      </ng-template>
    </tr>
    </tbody>

  </nz-table>
  <ng-template #rolesCheckBox>
    <nz-checkbox-group [(ngModel)]="checkOption"></nz-checkbox-group>
  </ng-template>
</div>

