<div class="question-page">
  <div class="header">
    <h1>题目管理</h1>
    <div style="display: inline-block">
      <button nz-button nzType="primary" class="header-button"
        (click)="navigateByUrl('/client/course/'+courseId+'/question_create/single_choice')"><i nz-icon nzType="plus"
          nzTheme="outline"></i>单选题</button>
      <button nz-button nzType="primary" class="header-button"
        (click)="navigateByUrl('/client/course/'+courseId+'/question_create/multiple_choice')"><i nz-icon nzType="plus"
          nzTheme="outline"></i>多选题</button>
      <button nz-button nzType="primary" class="header-button"
        (click)="navigateByUrl('/client/course/'+courseId+'/question_create/essay')" disabled><i nz-icon nzType="plus"
          nzTheme="outline"></i>问答题</button>
      <button nz-button nz-dropdown [nzDropdownMenu]="operationsMenu" nzPlacement="bottomRight">
        <i nz-icon nzType="caret-down" nzTheme="outline"></i>
      </button>
      <nz-dropdown-menu #operationsMenu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="navigateByUrl('/client/course/'+courseId+'/question_create/indefinite_choice')"><i
              nz-icon nzType="plus" nzTheme="outline"></i>不定项选择题</li>
          <li nz-menu-item (click)="navigateByUrl('/client/course/'+courseId+'/question_create/judgement')">
            <i nz-icon nzType="plus" nzTheme="outline"></i>判断题</li>
          <li nz-menu-item (click)="navigateByUrl('/client/course/'+courseId+'/question_create/completion')" nzDisabled>
            <i nz-icon nzType="plus" nzTheme="outline"></i>填空题</li>
          <li nz-menu-item (click)="navigateByUrl('/client/course/'+courseId+'/question_create/material')" nzDisabled><i
              nz-icon nzType="plus" nzTheme="outline"></i>材料题</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="select-group">
    <nz-select nzPlaceHolder="按题型" style="width:15%;" class="form-item" [(ngModel)]="selectedQuestionTypes">
      <nz-option *ngFor="let item of listOfQuestionTypes" [nzValue]="item" [nzLabel]="item"></nz-option>
    </nz-select>
    <nz-select nzPlaceHolder="按课程" style="width:17%;" class="form-item" [(ngModel)]="selectedCourse"
      (ngModelChange)="courseChange($event)">
      <nz-option *ngFor="let item of listOfCourses" [nzValue]="item" [nzLabel]="item"></nz-option>
    </nz-select>
    <nz-select nzPlaceHolder="请选择" style="width:15%;" class="form-item" *ngIf="selectVisible">
      <nz-option *ngFor="let item of result" [nzValue]="item" [nzLabel]="item"></nz-option>
    </nz-select>
    <input type="text" nz-input placeHolder="关键字" style="width:20%;" class="form-item">
    <button nz-button class="form-item" nzType="primary">搜索</button>
  </div>
  <div class="content">
    <nz-table #rowSelectionTable nzShowSizeChanger>
      <thead>
        <tr>
          <th nzShowCheckbox></th>
          <th width="45%">题干</th>
          <th width="15%">类型</th>
          <th>最后更新</th>
          <th width="15%">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td nzShowCheckbox></td>
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div>
    <label nz-checkbox>全选</label>
    <button nz-button nzType="danger" nzSize="small"><i nz-icon nzType="delete" nzTheme="outline"></i>删除</button>
    <span class="pull-right color-grey">共{{count}}题</span>
  </div>
</div>
