<nz-layout>

  <nz-content>
    <div class="left-content" >
      <nz-page-header
        [nzTitle]="displayData?.title" >

        <nz-breadcrumb nz-page-header-breadcrumb>
          <nz-breadcrumb-item style="cursor: pointer;" (click)="navigateByUrl('/client/newsall')">资讯频道</nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a (click)="navigate(displayData?.categoryid)">{{displayData?.name}}</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>正文</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-page-header-content>
          <div class="wrap">
            <div class="content">
              <div class="content">
                <p class="content-link">
                  <a>
                    <i nz-icon [nzType]="'eye'"></i>{{displayData?.hits}}
                  </a>
                  <a>
                    <i nz-icon [nzType]="'message'"></i>{{displayData?.postnum}}
                  </a>
                  <a>
                    <i nz-icon [nzType]="'heart'"></i>{{displayData?.upsnum}}
                  </a>
                </p>
                <p nz-paragraph [innerHTML]="displayData?.body">
                </p>
                <p >标签：<span style="color:dodgerblue;cursor: pointer;margin-right: 6px;" *ngFor="let tag of tagList" (click)="navigateByUrl('/client/newstag/'+tag?.id)">{{tag.name}}</span></p>
                <p class="content-link">
                  <i *ngIf="isLike==false" nz-icon style="cursor: pointer;" [nzType]="'heart'" (click)="getHeart1()"></i>
                  <i *ngIf="isLike==true" nz-icon style="cursor: pointer;color:red;" [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb1f13'" (click)="getHeart0()"></i>
                  <i nz-icon style="cursor: pointer;" [nzType]="'share-alt'" nz-popover  [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click"></i>
                  <ng-template #contentTemplate>
                    <div>
                      <i nz-icon [nzType]="'wechat'"></i>
                      <i nz-icon [nzType]="'weibo'"></i>
                      <i nz-icon [nzType]="'qq'"></i>
                    </div>
                  </ng-template>
                </p>
                <p>文章评论：news.discussion</p>
                <ng-template #commentTemplateRef let-comment="comment">
                  <nz-comment [nzAuthor]="comment.author">
                    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="comment.avatar"></nz-avatar>
                    <nz-comment-content>
                      <p>{{ comment.content }}</p>
                    </nz-comment-content>
                    <nz-comment-action>Reply to</nz-comment-action>
                    <ng-container *ngIf="comment.children && comment.children.length">
                      <ng-template ngFor let-child [ngForOf]="comment.children">
                        <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: child }">
                        </ng-template>
                      </ng-template>
                    </ng-container>
                  </nz-comment>
                </ng-template>

                <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: data1 }"> </ng-template>

                <nz-list *ngIf="data.length" [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                  <ng-template #item let-item>
                    <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
                      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                      <nz-comment-content>
                        <p>{{ item.content }}</p>
                      </nz-comment-content>
                    </nz-comment>
                  </ng-template>
                </nz-list>
                <nz-comment>
                  <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
                  <nz-comment-content>
                    <nz-form-item>
                      <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
                    </nz-form-item>
                    <nz-form-item>
                      <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
                        发表评论
                      </button>
                    </nz-form-item>
                  </nz-comment-content>
                </nz-comment>
              </div>
            </div>
          </div>
        </nz-page-header-content>
      </nz-page-header>

    </div>

    <div class="right-content">

      <nz-divider nzDashed="true"></nz-divider>
      <div class="classlist-container">
        <app-news-classification-modal (detailContent)="getNewContent($event)"></app-news-classification-modal>
      </div>
    </div>
  </nz-content>
</nz-layout>
