<div class="base-page">
  <h1>基础信息</h1>
  <nz-divider></nz-divider>
  <nz-alert nzType="success" nzMessage="保存成功" nzShowIcon *ngIf="promptVisable"></nz-alert>
  <div class="content">
    <form nz-form [nzLayout]="'vertical'" style="width: 1300px" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label nzSpan="3" nzRequired nzfor="title">标题:</nz-form-label>
        <nz-form-control nzSpan="21" nzErrorTip="请输入标题">
          <input type="text" nz-input formControlName="title" id="title">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="3">副标题:</nz-form-label>
        <nz-form-control nzSpan="21"><textarea rows="2" nz-input formControlName="subtitle"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="3">标签:</nz-form-label>
        <nz-form-control nzSpan="21" nzExtra="用于按标签搜索课程、相关课程的提取等，由网校管理员后台统一管理">
          <nz-select style="width: 100%" nzMode="multiple" nzPlaceHolder="请选择标签" formControlName="tags">
            <nz-option *ngFor="let option of listOfTag" [nzLabel]="option.name" [nzValue]="option.id+''">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="3">分类:</nz-form-label>
        <nz-form-control nzSpan="21">
          <nz-select style="width: 40%;" nzAllowClear nzPlaceHolder="分类" formControlName="categoryId">
            <nz-option-group *ngFor="let class of listOfCategories" [nzLabel]="class.name">
              <nz-option [nzLabel]="class.name" [nzValue]="class.id"></nz-option>
              <nz-option *ngFor="let subclass of class.children" [nzLabel]="subclass.name" [nzValue]="subclass.id">
              </nz-option>
            </nz-option-group>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="3">连载状态:</nz-form-label>
        <nz-form-control nzSpan="21">
          <nz-radio-group formControlName="serializeMode">
            <label nz-radio nzValue="none">非连载教程</label>
            <label nz-radio nzValue="serialized">更新中</label>
            <label nz-radio nzValue="finished">已完结</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" style="float: right" [nzLoading]="isLoading">保存</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
