<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzCollapsedWidth]="0">
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item (click)="navigate('/admin/user')" [nzSelected]="location?.pathname=='/admin/user'">用户</li>
      <li nz-menu-item [nzSelected]="location?.pathname=='/admin/course'">课程</li>
      <li nz-menu-item [nzSelected]="location?.pathname=='/admin/operation'">运营</li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
      <div class="empty-space mobile-style"></div>
      <div class="background-title mobile-style" (click)="backToHomePage()">后台管理</div>
      <ul nzTheme="dark" class="main-menu" nz-menu nzMode="horizontal">
        <li nz-menu-item (click)="backToHomePage()" [nzSelected]="location?.pathname=='/admin'">后台管理</li>
        <li nz-menu-item (click)="navigate('/admin/user')" [nzSelected]="location?.pathname.startsWith('/admin/user')">用户</li>
        <li nz-menu-item [nzSelected]="location?.pathname=='/admin/course'">课程</li>
        <li nz-menu-item [nzSelected]="location?.pathname=='/admin/operation'">运营</li>
      </ul>
      <div class="empty-space"></div>
      <div class="user-panel">
        <span (click)="navigate('/client')"><i nz-icon nzType="home" nzTheme="outline"></i>回到首页</span>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Powered by dongdong v8.2.32 ©2017-2019 课程存档<br/>
      课程内容版权均归 中国刑事警察学院禁毒学系 所有 辽ICP备14018221号</nz-footer>
  </nz-layout>
</nz-layout>

