<nz-list [nzNoResult]="noResultTemplate" style="background: #ffffff; padding: 2% 2%;cursor: pointer;" [nzDataSource]="displayData2" nzBordered [nzHeader]="'热门焦点'" [nzRenderItem]="defaultItem">
  <ng-template #defaultItem let-item>
    <nz-list-item (click)="navigateByUrl('/client/newsdetails/'+item?.id)">
      {{ item.title }}
    </nz-list-item>
  </ng-template>
</nz-list>

<nz-divider ></nz-divider>
<nz-list [nzNoResult]="noResultTemplate" style="background: #ffffff; padding: 2% 2%;cursor: pointer;" [nzDataSource]="displayData" nzBordered [nzHeader]="'热门标签'" [nzRenderItem]="data" nz-row [nzGrid]="{ gutter: 2, xs: 12, sm: 12, md: 8, lg: 8, xl: 8 }">
  <ng-template #data let-data >
    <nz-list-item (click)="navigateByUrl('/client/newstag/'+data?.id)">
      <div>
        <nz-tag style="cursor: pointer;" [nzColor]="'blue'">{{ data.name }}</nz-tag>
      </div>
    </nz-list-item>
  </ng-template>
</nz-list>


<nz-divider ></nz-divider>
<nz-list [nzNoResult]="noResultTemplate" style="background: #ffffff; padding: 2% 2%;cursor: pointer;" [nzDataSource]="data1" [nzRenderItem]="item"  nzBordered [nzHeader]="'热门评论'" >
    <ng-template #item let-item1 >
      <nz-comment [nzAuthor]="item1.author" [nzDatetime]="item1.datetime">
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item1.avatar"></nz-avatar>
        <nz-comment-content>
          <p>{{ item1.content }}</p>
        </nz-comment-content>
        <nz-comment-action>Reply to</nz-comment-action>
      </nz-comment>
    </ng-template>
</nz-list>

<nz-divider ></nz-divider>
<nz-list [nzNoResult]="noResultTemplate" style="background: #ffffff; padding: 2% 2%;cursor: pointer;" [nzDataSource]="displayData1" nzBordered [nzHeader]="'编辑推荐'" [nzRenderItem]="item2">
  <ng-template #item2 let-item2>
    <nz-list-item (click)="navigateByUrl('/client/newsdetails/'+item2?.id)">
      {{ item2.title }}
    </nz-list-item>
  </ng-template>
</nz-list>

<ng-template #noResultTemplate>
  <div style="height: 100px; display: flex; flex-direction: row; justify-content: center; align-items: center;">
    暂无内容
  </div>
</ng-template>
