<nz-tabset class="computer-style" nzTabPosition="right">
  <nz-tab nzTitle="课程话题">
    <app-admin-topic-course-table></app-admin-topic-course-table>
  </nz-tab>
  <nz-tab nzTitle="班级话题">
    <app-admin-topic-class-table></app-admin-topic-class-table>
  </nz-tab>
</nz-tabset>
<nz-tabset class="mobile-style" nzTabPosition="top">
  <nz-tab nzTitle="课程话题">
    <app-admin-topic-course-table></app-admin-topic-course-table>
  </nz-tab>
  <nz-tab nzTitle="班级话题">
    <app-admin-topic-class-table></app-admin-topic-class-table>
  </nz-tab>
</nz-tabset>

