<h1>个人信息</h1>
<nz-divider></nz-divider>

<form nz-form [nzLayout]="'inline'">
  <div class="form-upper-part">
    <div nz-row>
      <nz-form-item>
        <nz-form-control>
          <nz-upload class="avatar-uploader" nzAction="头像修改的地址" nzName="avatar" nzListType="picture-card"
            [nzShowUploadList]="false">
            <ng-container *ngIf="!user.avatarUrl">
              <i class="upload-icon" nz-icon></i>
              <div class="ant-upload-text">Upload</div>
            </ng-container>
            <img *ngIf="user.avatarUrl" [src]="user.avatarUrl" class="avatar" />
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <div style="padding: 40px 0px;">
          <span>用户名</span>
          <p nz-paragraph nzEditable [(nzContent)]="user.username"></p>
        </div>
      </nz-form-item>
    </div>
    <div nz-row>
      <p class="alert">请上传jpg, gif, png格式的图片, 建议图片大小不超过2MB</p>
    </div>
  </div>
  <br>
  <div class="form-lower-part">
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label><span>真实姓名</span></nz-form-label>
          <div>
            <nz-form-control>
              <input type="text" nz-input>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="sex"><span>性别</span></nz-form-label>
          <div>
            <nz-form-control>
              <nz-radio-group id="sex">
                <label nz-radio nzValue="男">男</label>
                <label nz-radio nzValue="女">女</label>
              </nz-radio-group>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label><span>头衔</span></nz-form-label>
          <div>
            <nz-form-control>
              <input type="text" nz-input>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label><span>个性签名</span></nz-form-label>
          <div>
            <nz-form-control>
              <input type="text" nz-input>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label><span>自我介绍</span></nz-form-label>
          <nz-form-control>
            <quill-editor [(ngModel)]='user.introduction' [style]="{height: '300px'}">
            </quill-editor>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label><span>公司</span></nz-form-label>
          <div>
            <nz-form-control>
              <input type="text" nz-input>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label><span>职业</span></nz-form-label>
          <div>
            <nz-form-control>
              <input type="text" nz-input>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label><span>个人空间</span></nz-form-label>
          <div>
            <nz-form-control>
              <input type="text" nz-input placeholder="http://">
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label><span>微博</span></nz-form-label>
          <div>
            <nz-form-control nzValidateStatus="validating" nzValidatingTip="微博、微信、QQ信息将会展示在您的个人主页">
              <input type="text" nz-input placeholder="http://">
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label><span>微信</span></nz-form-label>
          <div>
            <nz-form-control>
              <input type="text" nz-input>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label><span>QQ</span></nz-form-label>
          <div>
            <nz-form-control>
              <input type="text" nz-input>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24">

        <nz-form-item>
          <div>
            <nz-form-control>
              <button nz-button nzType="primary"><i nz-icon [nzType]="'check-circle'" [nzTheme]="'fill'"></i>保存</button>
            </nz-form-control>
          </div>
        </nz-form-item>

      </div>
    </div>
  </div>
</form>
