<h1>实名认证</h1>
<nz-divider></nz-divider>
<nz-alert nzType="warning" nzMessage="提示" nzDescription="为保护您的帐号安全、获得更好的服务，请尽快完成实名认证。" nzShowIcon nzCloseable>
</nz-alert>
<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div nz-row>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired><span>真实姓名</span></nz-form-label>
        <div>
          <nz-form-control [nzErrorTip]="nameErrorTpl">
            <input type="text" nz-input formControlName="trueName">
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                请输入真实姓名
              </ng-container>
              <ng-container *ngIf="control.hasError('pattern')">
                请输入汉字姓名
              </ng-container>
            </ng-template>
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired><span>身份证号</span></nz-form-label>
        <div>
          <nz-form-control [nzErrorTip]="errorTpl">
            <input type="text" nz-input formControlName="id">
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                请输入身份证号
              </ng-container>
              <ng-container *ngIf="control.hasError('pattern')">
                请输入正确的身份证号
              </ng-container>
            </ng-template>
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
  </div>
  <div nz-row class="card-layout">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-control nzErrorTip="请上传身份证正面照">
          <nz-upload class="avatar-uploader" nzAction="/material/uploadUserFaceIdCard?userId=1"
            nzListType="picture-card" [nzShowUploadList]="false">
            <div class="card-upload">
              <ng-container *ngIf="!cardFrontUrl">
                <i [nzType]="'idcard'" nz-icon class="card-icon"></i>
                <p>上传身份证正面照</p>
              </ng-container>
              <img *ngIf="faceimg" [src]="faceimg" class="avatar" />
            </div>
            <input type="hidden" formControlName="faceimg">
          </nz-upload>
        </nz-form-control>
        <p>请上传jpg, gif, png格式的图片, 建议图片大小不超过2MB</p>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-control nzErrorTip="请上传身份证背面照">
          <nz-upload class="avatar-uploader" nzAction="/material/uploadUserBackIdCard?userId=1"
            nzListType="picture-card" [nzShowUploadList]="false">
            <div class="card-upload">
              <ng-container *ngIf="!cardFrontUrl">
                <i [nzType]="'idcard'" nz-icon class="card-icon"></i>
                <p>上传身份证反面照</p>
              </ng-container>
              <img *ngIf="backimg" [src]="backimg" class="avatar" />
            </div>
            <input type="hidden" formControlName="backimg">
          </nz-upload>
        </nz-form-control>
        <p>请上传jpg, gif, png格式的图片, 建议图片大小不超过2MB</p>
      </nz-form-item>
    </div>
  </div>

  <div style="padding: 10px 0px;"><strong style="font-size: 16px;">认证须知</strong></div>
  <div>
    <ol>
      <li>请确保身份证照片清晰可认，严禁PS，否则将由您本人承担相应的法律后果。</li>
      <li>实名认证成功后，将无法修改和删除实名信息，请谨慎填写。</li>
      <li>我们将尽快审核您提交的信息，处理完成后您将会收到系统通知。</li>
    </ol>
  </div>

  <div style="margin: 20px 0px">
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">提交</button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
