<!--<div class="classification-container">

</div>
<nz-divider nzDashed="true"></nz-divider>
<div class="classification-container">
        <nz-breadcrumb nzSeparator=">">
                
                <nz-breadcrumb-item>
                        Home
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                        <a>Application List</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                        An Application
                </nz-breadcrumb-item>
        </nz-breadcrumb>
</div>
<nz-divider nzDashed="true"></nz-divider>
<div class="classification-container">
        <nz-breadcrumb nzSeparator=">">
                <span></span>
                <nz-breadcrumb-item>
                        Home
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                        <a>Application List</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                        An Application
                </nz-breadcrumb-item>
        </nz-breadcrumb>
</div>
-->



<nz-layout>
        <nz-layout>
                <nz-sider [nzWidth]="100">
                        <span>所在分类 :</span>
                </nz-sider>
                <nz-content>
                        <nz-breadcrumb nzSeparator=">">
                                <nz-breadcrumb-item *ngFor="let item of breadlist" >
                                        {{item}}
                                </nz-breadcrumb-item>
                        </nz-breadcrumb>
                </nz-content>
        </nz-layout>
        <nz-content>
                <nz-divider nzDashed="true"></nz-divider>
        </nz-content>
        <nz-layout>
                <nz-sider [nzWidth]="100">
                        <p></p>
                        <span>分类 :</span>
                </nz-sider>
                <nz-content>
                        <ul nz-menu nzMode="horizontal">
                                <li nz-menu-item *ngFor="let item of firstlayer;let ind = index" [nzSelected] = "firstlayerkey[ind]" (click)="ClickOne(ind)">
                                        {{item}}
                                </li>
                        </ul>
                </nz-content>
        </nz-layout>
        <nz-layout *ngIf="sekey">
                <nz-sider [nzWidth]="100">
                        <span></span>
                </nz-sider>
                <nz-content>
                        <ul nz-menu nzMode="horizontal">
                                <li nz-menu-item *ngFor="let item of secondlayer;let ind = index" [nzSelected] = "secondlayerkey[ind]" (click)="ClickTwo(ind)">
                                        {{item}}
                                </li>
                        </ul>
                </nz-content>
        </nz-layout>
        <nz-layout>
                <nz-sider [nzWidth]="100">
                        <span></span>
                </nz-sider>
                <nz-content>
                        <ul nz-menu nzMode="horizontal">
                                <li nz-menu-item *ngFor="let item of thirdlayer;let ind = index" [nzSelected] = "thirdlayerkey[ind]" (click)="ClickThree(ind)">
                                        {{item}}
                                </li>
                        </ul>
                </nz-content>
        </nz-layout>
</nz-layout>