<nz-layout>
    <nz-header>
        <h1 class="classlist_title">班级列表</h1>
        <div class="empty-space"></div>
        <button nz-button nzType="primary" [nzSize]="'large'" (click)="navigateByUrl('/client/courselist')" >查看课程</button>
        <button nz-button nzType="primary" [nzSize]="'large'" >查看公开课</button>
    </nz-header>
    <nz-content>
        <div class="classlist-container">
            <app-classlist-classification-modal  [commontag]="commontag"  (CommonTagClick)="setcommonTag($event)">
            </app-classlist-classification-modal>
        </div>
        <div class="classlist-container">
            <app-classlist-sort-modal [order]="order" (onSelected)="changeOrder($event)"></app-classlist-sort-modal>
            <nz-divider nzDashed="true"></nz-divider>
            <div class="listview">
                <app-classlist-listview-modal [classeslist]="classList"></app-classlist-listview-modal>
            </div>
            <nz-divider nzDashed="true"></nz-divider>
            <div class="pagination">
                <nz-pagination [(nzPageIndex)]="currentPage" (nzPageIndexChange)="onPageChange($event)" [(nzTotal)]="totalPage" [nzPageSize]="pageSize"></nz-pagination>
            </div>
        </div>
    </nz-content>
</nz-layout>
    
