<div class="top">
  <div class="icons-list">
    <h2>组长</h2>
    <nz-avatar [nzSize]="54" nzIcon="user">{{Header?.userNickName}}</nz-avatar>
  </div>
  <nz-divider></nz-divider>
  <div>
    <div class="header">

      <h2>副组长</h2>
      <button nz-button nzType="primary" (click)="cancel()">撤销副组长</button>
    </div >
    <div *ngIf="admin">
    <div style="display: inline-block" *ngFor="let userMediumAvatar of admin">
      <div style="display: flex; flex-direction: row; justify-content: center">
      <nz-avatar
        [nzSrc]="photo"
        nz-popover
        [nzPopoverTitle]="tem"
        [nzPopoverContent]="content"
        (mouseenter)="getUserDetail(userMediumAvatar.userId)"
        >
        <ng-template #photo>
          <nz-avatar [nzSize]="64">{{userMediumAvatar}}</nz-avatar>
        </ng-template>
        <ng-template #tem>
          <nz-card style="width:300px;"  [nzActions]="[actionEdit,actionShow]">
            <nz-card-meta
              [nzTitle]="nzTitle"
              [nzDescription]="nzDescription"
              [nzAvatar]="avatarTemplate"
            ></nz-card-meta>
          </nz-card>
          <ng-template #nzTitle>
            <span>{{detail?.nickName}} <button nzSize="small" style="width: 40px; height: 20px; font-size: 12px; float: right;" nz-button class="onebutton" nzType="primary"  (click)="focus()" >关注</button></span>
          </ng-template>
          <ng-template #nzDescription>
            <span>{{detail?.job}} <button nz-button style="width: 40px; height: 20px; font-size: 12px; float: right;" nzSize="small" nzType="primary" (click)="message(detail.id, messageModal)">私信</button></span>
          </ng-template>
          <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
          </ng-template>
          <ng-template #actionEdit>
            <a>{{detail?.followedNum}}</a>
            <p>关注</p>
          </ng-template>
          <ng-template #actionShow>
            <a>{{detail?.fansNum}}</a>
            <p>粉丝</p>
          </ng-template>
        </ng-template>
        <ng-template #content>
          <a style="color: gray">{{detail?.signature}}</a>
        </ng-template>
      </nz-avatar>
    </div>
      <div style="display: flex; flex-direction: row; justify-content: center">
        <label nz-checkbox [nzValue]="detail?.id" [ngModel]="mapOfCheckedId[detail?.id]"></label>
      </div>
    </div>
  </div>
  </div>


  <nz-divider></nz-divider>
  <div>
    <div class="header">
      <h2>组员</h2>
      <div>
        <button nz-button nzType="primary" (click)="delete_member()">踢出成员</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (click)="setting()">设置副组长</button>
      </div>
    </div>
    <div *ngIf="member" nz-row>
      <div nz-col nzSpan="4" style="display: inline-block" *ngFor="let userMediumAvatar of member">
        <div style="display: flex; flex-direction: row; justify-content: center">
          <nz-avatar
            [nzSrc]="photo"
            nz-popover
            [nzPopoverTitle]="tem"
            [nzPopoverContent]="content"
            (mouseenter)="getUserDetail(userMediumAvatar.userId)">
            <ng-template #photo>
              <nz-avatar [nzSize]="64">{{userMediumAvatar}}</nz-avatar>
            </ng-template>
            <ng-template #tem>
              <nz-card style="width:300px;"  [nzActions]="[ actionEdit,actionShow]">
                <nz-card-meta
                  [nzTitle]="nzTitle"
                  [nzDescription]="nzDescription"
                  [nzAvatar]="avatarTemplate"
                ></nz-card-meta>
              </nz-card>
              <ng-template #nzTitle>
                <div>{{detail?.nickName}}
                  <span *ngIf="detail?.id!=userId">
                    <span *ngIf="isfocus==false">
                      <button nzSize="small" style="width: 40px; height: 20px; font-size: 12px; float: right;" nz-button class="onebutton" nzType="primary"  (click)="focus()" >关注</button>
                    </span>
                    <span *ngIf="isfocus==true">
                      <button nzSize="small" style="width: 40px; height: 20px; font-size: 12px; float: right;" nz-button class="onebutton"   (click)="cancelfocus()" >已关注</button>
                  </span>
                      </span>

                </div>
              </ng-template>
              <ng-template #nzDescription>
                <div>{{detail?.job}}
                  <span *ngIf="detail?.id!=userId"><button nz-button style="width: 40px; height: 20px; font-size: 12px; float: right;" nzSize="small" nzType="primary" (click)="message(detail, messageModal)">私信</button></span>
                </div>
              </ng-template>
              <ng-template #avatarTemplate>
                <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
              </ng-template>
              <ng-template #actionEdit>
                <a>{{detail?.followedNum}}</a>
                <p>关注</p>
              </ng-template>
              <ng-template #actionShow>
                <a>{{detail?.fansNum}}</a>
                <p>粉丝</p>
              </ng-template>
            </ng-template>
            <ng-template #content>
              <a style="color: gray">{{detail?.signature}}</a>
            </ng-template>
          </nz-avatar>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center">
          <label nz-checkbox [nzValue]="detail?.id" [ngModel]="mapOfCheckedId[detail?.id]"></label>
        </div>
      </div>
      <ng-template #messageModal>
        <form nz-form [formGroup]="threadCreatingForm">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">收件人</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="标题不能为空！">
              <input [disabled]="true" nz-input formControlName="title" id="title" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="content" nzRequired>内容</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="内容不能为空！">
              <quill-editor formControlName="content" id="content"></quill-editor>
            </nz-form-control>
          </nz-form-item>
        </form>
      </ng-template>
    </div>
    </div>
  </div>

