<div class="listview">
  &nbsp;&nbsp;
  <h1>开 / 放 / 资 / 源</h1>
  <h3>微视频、禁毒宣传片、互动游戏等数字资源的共享</h3>
  <nz-list
    [nzDataSource]="displayData"
    [nzRenderItem]="item"
    [nzGrid]="{ gutter: 24, xs: 12, sm: 12, md: 12, lg: 8, xl: 6 }"
  >
    <ng-template #item let-item>
      <nz-list-item>
        <nz-card
          nzHoverable
          [nzCover]="coverTemplate"
          (click)="navigateByUrl('/client/openresourcedetail/' + item.id)"
        >
          <nz-card-meta nzTitle="{{ item.title }}"
          nzDescription="{{ item.description }}"> </nz-card-meta>

          <div class="cardbottom">
            <div class="number">
              <i nz-icon nzType="eye"></i>
              <span>{{ item.hitNum }}</span>
            </div>
            <div class="discuss">
              <i nz-icon nzType="like"></i>
              <span>{{ item.postNum }}</span>
            </div>
          </div>

        </nz-card>
        <ng-template #coverTemplate>
          <img
            alt="example"
            src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
          />
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
  &nbsp;&nbsp;
  <button nz-button [nzSize]="'large'" nzType="default">
    更多资源...
  </button>
</div>
