<div class="content">
    <div>
      <h2>分类管理
        <button nz-button nzType="danger" class="create-button" (click)="openCreateCategoryModal()"><i nz-icon nzType="plus"></i>新增分类</button>
      </h2>
    </div>
  <nz-divider [nzText]="'标签总数： ' + total"></nz-divider>
  <nz-table
    #categoryListTable
    [nzData]="displayData"
    [nzShowPagination]="false"
    >
    <thead>
    <tr>
      <th>名称</th>
      <th>编码</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of categoryListTable.nzData">
      <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td
            [nzIndentSize]="item.level * 20"
            [nzShowExpand]="item.children.length !== 0"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
          >{{item.name}}</td>
          <td>{{item.code}}</td>
          <td><i class="more-operation" nz-popover nzTitle="可执行操作" [nzContent]="operationTemplate" nzTrigger="hover" nz-icon nzType="more" nzTheme="outline" nzPlacement="bottom"></i></td>
          <ng-template #operationTemplate>
            <div class="user-management-operation">
              <div><span (click)="edit(item)"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</span></div>
              <div><span (click)="createChildren(item)"><i nz-icon nzType="plus-circle" nzTheme="outline"></i>添加子分类</span></div>
              <div><span (click)="delete(item.id)"><i nz-icon nzType="delete" nzTheme="outline"></i>删除分类</span></div>
            </div>
          </ng-template>
        </tr>
      </ng-container>
    </ng-container>

    </tbody>
  </nz-table>
</div>
