<div class="content">
    <div>
      <h2>分类管理
        <button nz-button nzType="danger" class="create-button" (click)="openCreateCategoryModal()"><i nz-icon nzType="plus"></i>新增分类</button>
      </h2>
    </div>
  <nz-divider [nzText]="'标签总数： ' + total"></nz-divider>
  <nz-table
    #categoryListTable
    [nzData]="displayData"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="searchData()">
    <thead>
    <tr>
      <th>名称</th>
      <th>编码</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of categoryListTable.data">
      <td>{{data.name}}</td>
      <td>{{data.code}}</td>
            <td><i class="more-operation" nz-popover nzTitle="可执行操作" [nzContent]="operationTemplate" nzTrigger="hover" nz-icon nzType="more" nzTheme="outline" nzPlacement="bottom"></i></td>
            <ng-template #operationTemplate>
              <div class="user-management-operation">
                <div><span (click)="edit(data.id)"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</span></div>
                <div><span (click)="createChildren(data.id)"><i nz-icon nzType="plus-circle" nzTheme="outline"></i>添加子分类</span></div>
                <div><span (click)="delete(data.id)"><i nz-icon nzType="delete" nzTheme="outline"></i>删除分类</span></div>
              </div>
            </ng-template>
    </tr>
    </tbody>
  </nz-table>
</div>
