
  <nz-tabset class="computer-style" nzTabPosition="right">
    <nz-tab nzTitle="课程分类">
      <app-admin-course-category-management></app-admin-course-category-management>
    </nz-tab>
    <nz-tab nzTitle="班级分类">
      <app-admin-class-category-management></app-admin-class-category-management>
    </nz-tab>
  </nz-tabset>
  <nz-tabset class="mobile-style" nzTabPosition="top">
    <nz-tab nzTitle="课程分类">
      <app-admin-course-category-management></app-admin-course-category-management>
    </nz-tab>
    <nz-tab nzTitle="班级分类">
      <app-admin-class-category-management></app-admin-class-category-management>
    </nz-tab>
  </nz-tabset>

