<div class="setting-page">
  <nz-divider></nz-divider>
  <div class="page-content">
    <div *ngFor="let item of courseList">
      <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
        <div nz-col nzSpan="6">
          <img class="img-info" [src]="item.smallPicture && !item.smallPicture.startsWith('public')? item.smallPicture: 'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'" /><!--课程图片-->
        </div>
        <div nz-col nzSpan="12">
          <div class="info-header">
            <div class="course-title" nz-tooltip [nzTitle]="item.courseSetTitle">{{item.courseSetTitle}}
              <nz-tag style="margin-left: 15px" [nzColor]="choiceColor(item.serialize)"> {{item.serialize == 'finished'? '已发布': (item.serialize == 'serialize'? '连载中': '已完成')}}</nz-tag>
            </div><!--课程标题-->


          </div>
          <div class="course-describe">
            <span>学习进度</span>
            <nz-progress [nzPercent]="item.num" [nzStrokeWidth]="LearnPro(item.learnTime,item.watchTime)"></nz-progress>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <button style="margin-right: 2%;" nz-button nzType="primary" (click)="viewCourse('/client/courseinf/' + item.courseSetId)">查看课程</button>
        </div>
        <nz-divider></nz-divider>
      </div>
    </div>
  </div>
</div>
