<nz-tabset class="computer-style" nzTabPosition="right">
  <nz-tab nzTitle="审核中">
    <app-approval-pending-table [status]="0"></app-approval-pending-table>
  </nz-tab>
  <nz-tab nzTitle="审核成功">
    <app-approval-pending-table [status]="1"></app-approval-pending-table>
  </nz-tab>
</nz-tabset>
<nz-tabset class="mobile-style" nzTabPosition="top">
  <nz-tab nzTitle="审核中">
    <app-approval-pending-table [status]="0"></app-approval-pending-table>
  </nz-tab>
  <nz-tab nzTitle="审核成功">
    <app-approval-pending-table [status]="1"></app-approval-pending-table>
  </nz-tab>
</nz-tabset>
