<nz-list [nzDataSource]="MyGroupList" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, span: 6 }">
  <ng-template #item let-item>
    <nz-list-item [nzContent]="nzContent">
      <ng-template #nzContent>
        <nz-card style="width: 180px;margin-top: 16px" [nzLoading]="loading" nzType="vertical" [nzCover]="coverTemplate">
          <nz-card-meta
            [nzAvatar]="avatarTemplate"
            [nzTitle] = "item.groupTitle"
          ></nz-card-meta>
          <div class="cardbottom">
            <div>
              <i nz-icon nzType="team" nzTheme="outline"></i>
              <span>{{item.memberNumber}}  | </span>

              <i nz-icon nzType="message" nzTheme="outline"></i>
              <span>{{item.threadNumber}}</span>
            </div>
          </div>
        </nz-card>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>
<ng-template #avatarTemplate>
  <nz-avatar nzIcon="user"></nz-avatar>
</ng-template>
