<nz-tabset class="computer-style" nzTabPosition="left">
  <nz-tab  nzTitle="小组首页">
    <app-groupfirst></app-groupfirst>
  </nz-tab>
  <nz-tab nzTitle="小组成员">
    <app-groupmember></app-groupmember>
  </nz-tab>
  <nz-tab nzTitle="小组设置" *ngIf="curUserOwnThisGroup">
    <app-groupedit></app-groupedit>
  </nz-tab>
</nz-tabset>
<nz-tabset class="mobile-style" nzTabPosition="top">
  <nz-tab  nzTitle="小组首页">
    <app-groupfirst></app-groupfirst>
  </nz-tab>
  <nz-tab nzTitle="小组成员">
    <app-groupmember></app-groupmember>
  </nz-tab>
  <nz-tab nzTitle="小组设置" *ngIf="curUserOwnThisGroup">
    <app-groupedit></app-groupedit>
  </nz-tab>
</nz-tabset>
