<nz-layout>
  <nz-header >
    <h1 class="openclasslist_title">公开课列表</h1>
    <div class="empty-space"></div>
    <button nz-button nzType="primary" [nzSize]="'large'" >查看课程</button>
    <button   nz-button nzType="primary" [nzSize]="'large'" >查看班级</button>
  </nz-header>
  <nz-content class="contentcard">
    <div style="padding:30px;">
      <div>
        <nz-list [nzDataSource]="displayData" style="margin: 30px;" [nzRenderItem]="item" [nzGrid]="{ gutter: 24, xs: 24, sm: 12, md: 12, lg: 8, xl: 6 }">
          <ng-template #item let-item>
            <nz-list-item [nzContent]="content">
              <ng-template #content>
                <nz-card style="cursor: pointer" [nzCover]="coverTemplate"  (click)="navigateByUrl('/client/openresourcedetail/' + item.id)"  >
                  <nz-row [nzGutter]="4">
                    <nz-col [nzSpan]="14">
                      <nz-card-meta
                        [nzTitle]="item.title"
                        [nzDescription]="item.description"
                      ></nz-card-meta>
                    </nz-col>
                    <nz-col [nzSpan]="5">
                      <nz-statistic [nzValue]="item.hitNum | number"  [nzPrefix]="prefixTpl1" [nzValueStyle]="{fontSize:'12px '}"></nz-statistic>
                      <ng-template #prefixTpl1><i nz-icon nzType="eye"></i></ng-template>
                    </nz-col>
                    <nz-col [nzSpan]="5">
                      <nz-statistic [nzValue]="item.postNum | number"  [nzPrefix]="prefixTpl2" [nzValueStyle]="{fontSize:'12px '}"></nz-statistic>
                      <ng-template #prefixTpl2><i nz-icon nzType="like"></i></ng-template>
                    </nz-col>
                  </nz-row>
                </nz-card>
                <ng-template #coverTemplate >
                  <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"/>
                </ng-template>
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
    </div>
  </nz-content>
</nz-layout>
