.file-page {
  padding: 2% 3%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: -5px;
}

.content {
  margin: 2% 0%;
}

h1 {
  margin-bottom: 0;
  font-size: 20px;
}
