  <div class="container">
  <header>
    <div class="top">
      <nz-card-meta class="word"
                         [nzTitle]="nzTitle"
                         [nzAvatar]="nzAvater"
                         [nzDescription]="nzDescription">
        <ng-template #nzTitle>
          <h2 [innerHTML]="topicList?.groupTitle"></h2>
        </ng-template>
        <ng-template #nzAvater>
          <nz-avatar [nzSize]="64" nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">  </nz-avatar>
        </ng-template>
        <ng-template #nzDescription>
          <span >{{topicList?.groupMemberNum}}个成员     {{topicList?.groupThreadNum}}个话题      创建时间：{{topicList?.createdTime}}</span>
        </ng-template>
      </nz-card-meta>
    </div>
  </header>
  <nz-content>
    <router-outlet ></router-outlet>
  </nz-content>

</div>





