<nz-descriptions nzBordered nzSize="small" [nzColumn]="{xxl: 2, xl: 2, lg: 2, md: 2, sm: 1, xs: 1}">
  <nz-descriptions-item nzTitle="用户名">
    <span>张巾英</span><a>个人主页</a>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="生日">
    1997-08-19
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Email">
    20635196@qq.com
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="用户组">
    学员 教师
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="注册时间/IP">
    2019-6-27 14:35:19 / 210.47.150.16 辽宁沈阳
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="最近登录时间/IP">
    2019-6-27 14:35:19 / 210.47.150.16 辽宁沈阳
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="姓名">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="性别">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="身份证号">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="手机号码">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="公司">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="职业">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="头衔">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="个人签名">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="自我介绍">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="个人网站">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="微博">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="微信">
    暂无
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="QQ">
    暂无
  </nz-descriptions-item>
</nz-descriptions>
