<nz-descriptions nzBordered nzSize="small" [nzColumn]="{xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1}">
  <nz-descriptions-item nzTitle="用户名">
    <span>{{userInfo?.nickname}}</span><a>个人主页</a>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="生日">
    {{userInfo?.birthday ? userInfo?.birthday: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Email">
    {{userInfo?.email ? userInfo?.email: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="用户组">
    <span *ngFor="let role of userInfo?.rolesName">{{role}} </span>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="注册时间/IP">
    {{userInfo?.createdTime}} / {{userInfo?.createdip}} {{userInfo?.createdarea}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="最近登录时间/IP">
    {{userInfo?.createdTime}} / {{userInfo?.createdip}} {{userInfo?.createdarea}}  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="姓名">
    {{userInfo?.trueName ? userInfo?.trueName: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="性别">
    <span *ngIf="userInfo?.gender=='secret'">秘密</span>
    <span *ngIf="userInfo?.gender=='male'">男性</span>
    <span *ngIf="userInfo?.gender=='female'">女性</span>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="身份证号">
    {{userInfo?.idcard ? userInfo?.idcard: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="手机号码">
    {{userInfo?.mobile ? userInfo?.mobile: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="公司">
    {{userInfo?.company ? userInfo?.company: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="职业">
    {{userInfo?.job ? userInfo?.job: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="头衔">
    {{userInfo?.iam ? userInfo?.iam: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="个人签名">
    {{userInfo?.signature ? userInfo?.signature: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="自我介绍">
    <span id="introduction"></span>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="个人网站">
    {{userInfo?.site ? userInfo?.site: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="微博">
    {{userInfo?.weibo ? userInfo?.weibo: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="微信">
    {{userInfo?.weixin ? userInfo?.weixin: '暂无'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="QQ">
    {{userInfo?.qq ? userInfo?.qq: '暂无'}}
  </nz-descriptions-item>
</nz-descriptions>
