<div class="container">
  <div class="all">
    <div class="left">
      <div class="first">

          <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
            <h3 style="margin-bottom: 0;">{{RecentThreadList?.threadTitle}}</h3>
            <nz-tag style="font-size: 10px;margin-right: 4px" *ngIf="nzValueZD==0 || RecentThreadList?.isElite == 1" [nzColor]="'#f50'">置顶</nz-tag>
            <nz-tag style="font-size: 10px;margin-right: 4px" *ngIf="nzValueJ==0 || RecentThreadList?.isStick == 1" [nzColor]="'#87d068'">精华</nz-tag>
          </div>
        <nz-divider></nz-divider>
          <div style="display: flex; flex-direction: row; justify-content: space-between">
            <nz-input-group style="display:flex; margin-left:2%;margin-right: 2%" [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplateUser">
              <input type="text" nz-input placeholder="发表于{{RecentThreadList?.threadTime * 1000 | date: 'yyyy-MM-dd HH:mm:ss'}} {{RecentThreadList?.hitNum}}次查看" [(ngModel)]="value" [disabled]="true" />
            </nz-input-group>
            <ng-template #prefixTemplateUser></ng-template>
            <ng-template #suffixTemplateInfo>
<!--        <i nz-icon style="margin-right: 6px;font-size: 24px;cursor: pointer;" [nzType]="'share-alt'" nz-popover  [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click"></i>-->
              <ng-template #contentTemplate>
<!--                <div>-->
<!--                  <i nz-icon style="margin-right: 6px;font-size: 24px;" [nzType]="'wechat'"></i>-->
<!--                  <i nz-icon style="margin-right: 6px;font-size: 24px;" [nzType]="'weibo'"></i>-->
<!--                  <i nz-icon style="margin-right: 6px;font-size: 24px;" [nzType]="'qq'"></i>-->
<!--                </div>-->
              </ng-template></ng-template>
            <br />
            <br />
          </div>

          <div style="margin-left:2%;margin-right: 2%; margin-top: 2%" [innerHTML]="RecentThreadList?.threadContent">
          </div>

          <div *ngIf="curUserOwnThisGroup">
            <button style="margin-right: 10px; width: 10%; height: 24px;" nz-button nzType="default" nzSize="small" (click)="oclick()">编辑</button>
            <button *ngIf="nzValueJ==1 && RecentThreadList?.isElite == 0"  nzSize="small" style="margin-right: 10px; width: 10%; height: 24px;" nz-button nzType="primary" (click)="getNzValueJ0()">加精</button>
            <button *ngIf="nzValueJ==0 || RecentThreadList?.isElite == 1"  nzSize="small" style="margin-right: 10px; width: 20%; height: 24px;" nz-button nzType="default" (click)="getNzValueJ1()">取消加精</button>
            <button *ngIf="nzValueZD==1 && RecentThreadList?.isStick == 0"  nzSize="small" style="margin-right: 10px; width: 10%; height: 24px;" nz-button nzType="danger" (click)="getNzValueZD0()">置顶</button>
            <button *ngIf="nzValueZD==0 || RecentThreadList?.isStick == 1" nzSize="small" style="margin-right: 10px; width: 20%; height: 24px;" nz-button nzType="default" (click)="getNzValueZD1()">取消置顶</button>
          </div>
      </div>
      <div class="two">
        <p>文章评论：</p>
        <nz-empty *ngIf="comments.length == 0"></nz-empty>
        <ng-template #commentTemplateRef let-comment="comment">
          <nz-comment [nzAuthor]="comment.username" [nzDatetime]="comment.createdtime * 1000 | date: 'yyyy-MM-dd HH:mm:ss'">
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="comment.useravatar"></nz-avatar>
            <nz-comment-content>
              <p>{{ comment.content }}</p>
            </nz-comment-content>
            <nz-comment-action>
              <span (click)="addReplyValue(comment)">回复</span>
            </nz-comment-action>
            <nz-comment-action>
              <span (click)="deleteComment(comment.commentId)">删除</span>
            </nz-comment-action>
            <ng-container *ngIf="comment.reply && comment.reply.length">
              <ng-template ngFor let-child [ngForOf]="comment.reply">
                <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{comment: child}">
                </ng-template>
              </ng-template>
            </ng-container>
          </nz-comment>
        </ng-template>

        <ng-container *ngIf="comments.length > 0">
          <ng-template ngFor let-comment [ngForOf]="comments">
            <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{comment: comment}"></ng-template>
          </ng-template>
        </ng-container>


        <nz-pagination [nzHideOnSinglePage]="true" [(nzPageIndex)]="pageIndex" [nzTotal]="total" [nzPageSize]="pageSize" (nzPageIndexChange)="getComments()"></nz-pagination>


      </div>

        <div class="three">
          <nz-divider></nz-divider>
          <nz-comment id="reply">
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
            <nz-comment-content>
              <nz-form-item>
                <textarea [(ngModel)]="commentValue" nz-input rows="4"></textarea>
              </nz-form-item>
              <nz-form-item>
                <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!commentValue" (click)="handleSubmit()">
                  发表评论
                </button>
              </nz-form-item>
            </nz-comment-content>
          </nz-comment>

        </div>


    </div>
          <div class="right">
            <div class="group-leader-card">
              <h3>话题作者</h3>
              <nz-divider></nz-divider>
              <nz-card nzBordered="false">
                <nz-card-meta
                  [nzTitle]="title"
                  [nzDescription]="description"
                  [nzAvatar]="avatarTemplate"
                  (mouseenter)="getUserDetail(owner?.userId)"
                ></nz-card-meta>
              </nz-card>
              <ng-template #title>
                <a>{{owner?.userNickName}}</a>
              </ng-template>
              <ng-template #description>
                <a>{{owner?.userTitle}}</a>
              </ng-template>
              <ng-template #avatarTemplate>
                <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                           nz-popover
                           [nzPopoverTitle]="tem"
                           [nzPopoverContent]="content"

                >
                  <ng-template #tem>
                    <nz-card style="width:300px;"  [nzActions]="[ actionEdit,actionShow]">
                      <nz-card-meta
                        [nzTitle]="nzTitle"
                        [nzDescription]="nzDescription"
                        [nzAvatar]="avatarTemplate"
                      ></nz-card-meta>
                    </nz-card>
                    <ng-template #nzTitle>
                      <span>{{detail?.trueName}}</span>
                    </ng-template>
                    <ng-template #nzDescription>
                      <a>{{detail?.job}}</a>
                    </ng-template>
                    <ng-template #avatarTemplate>
                      <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                    </ng-template>
                    <ng-template #actionEdit>
                      <a>{{detail?.followedNum}}</a>
                      <p>关注</p>
                    </ng-template>
                    <ng-template #actionShow>
                      <a>{{detail?.fansNum}}</a>
                      <p>粉丝</p>
                    </ng-template>
                  </ng-template>
                  <ng-template #content>
                    <a style="color: gray">{{detail?.signature}}</a>
                  </ng-template>
                </nz-avatar>
              </ng-template>
            </div>

</div>
</div>
