<div class="page-content">

  <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
    <ng-template #item let-item>

      <nz-list-item>
        <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="item.descr">
          <ng-template #nzTitle>
            <a href="https://ng.ant.design">{{ item.title }}</a>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
      <!--span> 来自{{item.source}}|浏览量{{item.num}}</span-->
    </ng-template>
  </nz-list>
  <nz-divider></nz-divider>

</div>
