<nz-tabset class="computer-style" nzTabPosition="right">
  <nz-tab nzTitle="课程评价">
    <app-admin-course-rating-management></app-admin-course-rating-management>
  </nz-tab>
  <nz-tab nzTitle="班级评价">
    <app-admin-class-rating-management></app-admin-class-rating-management>
  </nz-tab>
</nz-tabset>
<nz-tabset class="mobile-style" nzTabPosition="top">
  <nz-tab nzTitle="课程评价">
    <app-admin-course-rating-management></app-admin-course-rating-management>
  </nz-tab>
  <nz-tab nzTitle="班级评价">
    <app-admin-class-rating-management></app-admin-class-rating-management>
  </nz-tab>
</nz-tabset>
