nz-layout {
  padding: 5% 10%;
}

.video-content {
  min-height: 200px;
}
.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sidertitle{
  text-align:left;
}


.inner-layout {
  margin-top: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 2%;
}
.operation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
}
.setting-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.detail-operation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
:host ::ng-deep .like > .ant-statistic-title {
  margin-bottom: 0;
}
.video-intro {
  padding: 15px 24px 10px 6px;
  line-height:0.5;
  text-align:left;
  min-height:50px
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.video-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content1{
  min-height: 410px;
  line-height: 20px;
}

.content2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.left-content {
  width: 68%;
}

.right-content {
  width: 30%;
}

.teacher-card {
  padding: 4% 4%;
  min-height: 300px;
}
.comment-area {
  margin-top: 20px;
  padding: 4% 4%;
}

