<nz-tabset class="computer-style" nzTabPosition="top">
  <nz-tab  nzTitle="编辑小组">
    <app-edit></app-edit>
  </nz-tab>
  <nz-tab nzTitle="图标设置">
    <app-icon></app-icon>
  </nz-tab>
  <nz-tab nzTitle="背景设置">
    <app-background></app-background>
  </nz-tab>
</nz-tabset>
<nz-tabset class="mobile-style" nzTabPosition="top">
  <nz-tab  nzTitle="编辑小组">
    <app-edit></app-edit>
  </nz-tab>
  <nz-tab nzTitle="图标设置">
    <app-icon></app-icon>
  </nz-tab>
  <nz-tab nzTitle="背景设置">
    <app-background></app-background>
  </nz-tab>
</nz-tabset>

