<div class="backround-card">
  <img class="mobile-pic" alt="mobile-pic" src="../../../../assets/img/menu-pic.jpg" />
  <div nz-row class="pc-version">
    <div class="card">
      <button class="menu-button" nz-button nzType="primary">禁毒新闻<i nz-icon nzType="right"></i></button>
      <button class="menu-button" nz-button nzType="primary">推荐课程<i nz-icon nzType="right"></i></button>
      <button class="menu-button" nz-button nzType="primary">专题讲座<i nz-icon nzType="right"></i></button>
      <button class="menu-button" nz-button nzType="primary">教师培训<i nz-icon nzType="right"></i></button>
      <button class="menu-button" nz-button nzType="primary">热门课程<i nz-icon nzType="right"></i></button>
      <button class="menu-button" nz-button nzType="primary">禁毒动画<i nz-icon nzType="right"></i></button>
      <button class="menu-button" nz-button nzType="primary">开放资源<i nz-icon nzType="right"></i></button>
    </div>

    <div nz-col [nzSpan]="20" nzOffset="4">
      <div nz-row>
        <img class="main-pic" alt="menu-pic" src="../../../../assets/img/menu-pic.jpg" />
      </div>
      <div nz-row class="right-content">
        <div nz-col [nzSpan]="6">
          <button class="list-button" nz-button nzBlock>
            <div nz-row>
              <nz-avatar nzText="小学" nzSize="large" [nzShape]="'square'"></nz-avatar>
            </div>
            <div nz-row>小学课程</div>
          </button>
        </div>
        <div nz-col [nzSpan]="6">
          <button class="list-button" nz-button nzBlock>
            <div nz-row>
              <nz-avatar nzText="中学" nzSize="large" [nzShape]="'square'"></nz-avatar>
            </div>
            <div nz-row>中学课程</div>
          </button>
        </div>
        <div nz-col [nzSpan]="6">
          <button class="list-button" nz-button nzBlock>
            <div nz-row>
              <nz-avatar nzText="高中" nzSize="large" [nzShape]="'square'"></nz-avatar>
            </div>
            <div nz-row>高中课程</div>
          </button>
        </div>
        <div nz-col [nzSpan]="6">
          <button class="list-button" nz-button nzBlock>
            <div nz-row>
              <nz-avatar nzText="高阶" nzSize="large" [nzShape]="'square'"></nz-avatar>
            </div>
            <div nz-row>高阶课程</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>