<div class="setting-page">
  <div class="page-header">
    <h2>学生管理</h2>
    <div class="operation">
      <button style="margin-right: 2%;" nz-button nzType="primary" (click)="openAddingStudentModal(addingStudentModal)">添加学生</button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="page-content">
    <app-student-management-tab [planId]="teachplanId"></app-student-management-tab>
  </div>

  <ng-template #addingStudentModal>
    <form nz-form [formGroup]="addingForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>用户名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入用户名！">
          <input
            nz-input
            id="username"
            formControlName="username"
            (input)="onInput($event.target?.value)"
            [nzAutocomplete]="auto"
          />
          <nz-autocomplete (selectionChange)="getStudentId($event)" nzBackfill #auto>
            <nz-auto-option *ngFor="let option of studentList" [nzValue]="option.id" [nzLabel]="option.nickName">
              {{option.nickName}}
            </nz-auto-option>
          </nz-autocomplete>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="comment">备注</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="comment" id="comment" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
</div>
