<div class="setting-page">
  <div class="page-header">
    <h2>学生管理</h2>
    <div class="operation">
      <button style="margin-right: 2%;" nz-button nzType="primary" (click)="openAddingStudentModal()">添加学生</button>
      <button style="margin-right: 2%;" nz-button nzType="primary" (click)="openAddingStudentModal()">批量导入</button>
      <button nz-button nzType="primary" (click)="openAddingStudentModal()">导出学生</button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="page-content">
    <app-student-management-tab></app-student-management-tab>
  </div>
</div>
