<nz-tabset class="computer-style" nzTabPosition="right">
  <nz-tab nzTitle="公开课管理">
    <app-admin-open-class-managemen-table></app-admin-open-class-managemen-table>
  </nz-tab>
  <nz-tab nzTitle="公开课推荐">
    <app-admin-open-class-recommendation-table></app-admin-open-class-recommendation-table>
  </nz-tab>
</nz-tabset>
<nz-tabset class="mobile-style" nzTabPosition="top">
  <nz-tab nzTitle="公开课管理">
    <app-admin-open-class-managemen-table></app-admin-open-class-managemen-table>
  </nz-tab>
  <nz-tab nzTitle="公开课推荐">
    <app-admin-course-recommendation-table></app-admin-course-recommendation-table>
  </nz-tab>
</nz-tabset>
