<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a (click)="navigateByUrl('/client/course/'+courseId+'/question')">题目管理</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      添加题目
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      单选题
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="content">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="lblLength" [nzNoColon]="colonVisible">从属</nz-form-label>
        <nz-form-control [nzSpan]="conLength" nzExtra="可以针对本课程、某个教学计划或者某个学习任务出题">
          <nz-select style="width: 120px;" nzAllowClear nzPlaceHolder="请选择从属" formControlName="targetID">
            <nz-option nzValue="1" nzLabel="按课程"></nz-option>
            <nz-option nzValue="2" nzLabel="默认教学计划"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="lblLength" [nzNoColon]="colonVisible">难度</nz-form-label>
        <nz-form-control [nzSpan]="conLength">
          <nz-radio-group formControlName="difficulty">
            <label nz-radio nzValue="simple">简单</label>
            <label nz-radio nzValue="normal">一般</label>
            <label nz-radio nzValue="difficult">困难</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="lblLength" [nzNoColon]="colonVisible" nzRequired nzfor="stem">题干</nz-form-label>
        <nz-form-control [nzSpan]="conLength" nzErrorTip="请输入题干">
          <quill-editor id="stem" formControlName="stem"></quill-editor>
        </nz-form-control>
      </nz-form-item>
      <nz-radio-group formControlName="answer">
        <nz-form-item *ngFor="let control of listOfChoiceControl;let i = index">
          <nz-form-label [nzSpan]="lblLength" [nzNoColon]="colonVisible" nzRequired>{{control.title}}
          </nz-form-label>
          <nz-form-control [nzSpan]="conLength" [nzErrorTip]="errorTpl">
            <quill-editor [attr.id]="control.id" [formControlName]="control.uuid">
            </quill-editor>
            <ng-template #errorTpl let-ctrl>
              <ng-container *ngIf="ctrl.hasError('required')">
                请输入选项内容
              </ng-container>
            </ng-template>
            <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></i>
            <label nz-radio [nzValue]="control.id">正确答案</label>

          </nz-form-control>
        </nz-form-item>
      </nz-radio-group>
      <nz-form-item>
        <nz-form-control nzOffset="18">
          <button nz-button type="button" nzType="dashed" class="add-button" (click)="addField($event)">
            <i nz-icon nzType="plus"></i>
            新增选项
          </button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzOffset="3" [nzNoColon]="colonVisible"><a (click)="isCollapse=!isCollapse">显示/隐藏 高级选项 ...</a>
        </nz-form-label>
      </nz-form-item>
      <nz-form-item *ngIf="isCollapse">
        <nz-form-label [nzSpan]="lblLength" [nzNoColon]="colonVisible">解析</nz-form-label>
        <nz-form-control [nzSpan]="conLength">
          <quill-editor formControlName="analysis"></quill-editor>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="isCollapse">
        <nz-form-label [nzSpan]="lblLength" [nzNoColon]="colonVisible">分值</nz-form-label>
        <nz-form-control [nzSpan]="conLength">
          <input type="text" nz-input style="width: 120px;" formControlName="score">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzOffset="3" [nzSpan]="conLength">
          <button nz-button nzType="primary" class="spacing" (click)="submitForm('continue')"
            [disabled]="btnDisable">保存并继续添加</button>
          <button nz-button nzType="primary" (click)="submitForm()">保存</button>
          <button nz-button type="button" nzType="link"
            (click)="navigateByUrl('/client/course/'+courseId+'/question')">返回</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
