<ul nz-menu nzMode="horizontal" class="computer-style">
  <li nz-menu-item (click)="navigate('/admin/user')" [nzSelected]="location.pathname=='/admin/user'">用户管理</li>
  <li nz-menu-item (click)="navigate('/admin/user/statistics')" [nzSelected]="location.pathname=='/admin/user/statistics'">用户数据统计</li>
  <li nz-menu-item (click)="navigate('/admin/user/teacher')" [nzSelected]="location.pathname=='/admin/user/teacher'">教师管理</li>
  <li nz-menu-item (click)="navigate('/admin/user/approval')" [nzSelected]="location.pathname=='/admin/user/approval'">实名认证管理</li>
  <li nz-menu-item (click)="navigate('/admin/user/message')" [nzSelected]="location.pathname=='/admin/user/message'">私信管理</li>
</ul>

<ul nz-menu nzMode="vertical" style="width: 100%;" class="mobile-style">
  <li nz-menu-item (click)="navigate('/admin/user')" [nzSelected]="location.pathname=='/admin/user'">用户管理</li>
  <li nz-menu-item (click)="navigate('/admin/user/statistics')" [nzSelected]="location.pathname=='/admin/statistics'">用户数据统计</li>
  <li nz-menu-item (click)="navigate('/admin/user/teacher')" [nzSelected]="location.pathname=='/admin/teacher'">教师管理</li>
  <li nz-menu-item (click)="navigate('/admin/user/approval')" [nzSelected]="location.pathname=='/admin/approval'">实名认证管理</li>
  <li nz-menu-item (click)="navigate('/admin/user/message')" [nzSelected]="location.pathname=='/admin/message'">私信管理</li>
</ul>
