
<ul nz-menu nzMode="horizontal">
  <li [nzSelected]="location.pathname.endsWith('newsall' )" nz-menu-item>
    <a (click)="navigateTo('/client/newsall')">资讯频道</a>
  </li>
  <li [nzSelected]="location.pathname.endsWith('newslaw')" nz-menu-item>
    <a (click)="navigateTo('/client/newslaw')">禁毒法规</a>
  </li>
  <li [nzSelected]="location.pathname.endsWith('newsnews')" nz-menu-item>
    <a (click)="navigateTo('/client/newsnews')">禁毒新闻</a>
  </li>
  <li [nzSelected]="location.pathname.endsWith('newscase')" nz-menu-item>
    <a (click)="navigateTo('/client/newscase')">经典案例</a>
  </li>
</ul>
