<nz-tabset class="computer-style" nzTabPosition="right">
  <nz-tab nzTitle="课程管理">
    <app-admin-course-management-table></app-admin-course-management-table>
  </nz-tab>
  <nz-tab nzTitle="课程推荐">
    <app-admin-course-recommendation-table></app-admin-course-recommendation-table>
  </nz-tab>
  <nz-tab nzTitle="课程统计">
    <app-admin-course-statistics-table></app-admin-course-statistics-table>
  </nz-tab>
</nz-tabset>
<nz-tabset class="mobile-style" nzTabPosition="top">
  <nz-tab nzTitle="课程管理">
    <app-admin-course-management-table></app-admin-course-management-table>
  </nz-tab>
  <nz-tab nzTitle="课程推荐">
    <app-admin-course-recommendation-table></app-admin-course-recommendation-table>
  </nz-tab>
  <nz-tab nzTitle="课程统计">
    <app-admin-course-statistics-table></app-admin-course-statistics-table>
  </nz-tab>
</nz-tabset>
