<div class="content">
  <div class="filter-condition">
    <div class="news-filter">
      <nz-select class="select-control" [(ngModel)]="selectedProgramaValue">
        <nz-option nzValue="" nzLabel="全部栏目"></nz-option>
        <nz-option nzValue="PROGRAMA_RULE" nzLabel="禁毒法规"></nz-option>
        <nz-option nzValue="PROGRAMA_NEWS" nzLabel="禁毒新闻"></nz-option>
        <nz-option nzValue="PROGRAMA_EXAMPLE" nzLabel="经典案例"></nz-option>
      </nz-select>
      <input class="name-containing-input" nz-input placeholder="标题关键字" [(ngModel)]="inputValue" />
      <nz-divider nzType="vertical"></nz-divider>
      <nz-select class="select-control" [(ngModel)]="selectedAttributeValue">
        <nz-option nzValue="" nzLabel="全部"></nz-option>
        <nz-option nzValue="ATTRIBUTE_HEADLINE" nzLabel="头条"></nz-option>
        <nz-option nzValue="ATTRIBUTE_RECOMMEND" nzLabel="推荐"></nz-option>
        <nz-option nzValue="ATTRIBUTE_TOP" nzLabel="置顶"></nz-option>
      </nz-select>
      <nz-divider nzType="vertical"></nz-divider>
      <nz-select class="select-control" [(ngModel)]="selectedStateValue">
        <nz-option nzValue="" nzLabel="全部状态"></nz-option>
        <nz-option nzValue="STATE_ALREADY" nzLabel="已发布"></nz-option>
        <nz-option nzValue="STATE_NOT" nzLabel="未发布"></nz-option>
        <nz-option nzValue="STATE_RECYCLE" nzLabel="回收站"></nz-option>
      </nz-select>
      <button (click)="filterNews()" nz-button nzType="primary" class="search-button"><i nz-icon nzType="search"></i>搜索</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button [nzType]="'danger'" [nzLoading]="isOperating" (click)="operateData()"><i nz-icon nzType="delete"></i>删除</button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <nz-table
    #newsListTable
    [nzData]="displayData"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="searchData()">
    <thead>
    <tr>
      <th
        nzShowCheckbox
        [(nzChecked)]="isAllDisplayDataChecked"
        [nzIndeterminate]="isIndeterminate"
        (nzCheckedChange)="checkAll($event)"
      ></th>
      <th>ID</th>
      <th>咨询标题</th>
      <th>栏目</th>
      <th>更新时间</th>
      <th>属性</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of newsListTable.data; let i of newsListTable.data.length">
      <td
        nzShowCheckbox
        [(nzChecked)]="mapOfCheckedId[data.id]"
        [nzDisabled]="data.disabled"
        (nzCheckedChange)="refreshStatus()"
      ></td>
      <td>{{data.ID}}<br/>
      <td>{{data.title}}<br/>
      <td>{{data.progama}}<br/>
      <td>{{data.updateTime}}<br/>
      <td><nz-tag nzMode="checkable" [nzChecked]="true" (nzCheckedChange)="checkChange($event)">头</nz-tag>
      <nz-tag nzMode="checkable" [nzChecked]="true" (nzCheckedChange)="checkChange($event)">荐</nz-tag>
      <nz-tag nzMode="checkable" [nzChecked]="true" (nzCheckedChange)="checkChange($event)">顶</nz-tag>
      <br/>
      <td>{{data.state}}<br/>
      <td><i class="more-operation" nz-popover nzTitle="更多操作" [nzContent]="operationTemplate" nzTrigger="hover" nz-icon nzType="more" nzTheme="outline" nzPlacement="bottom"></i></td>
      <ng-template #operationTemplate>
        <div class="news-management-operation">
          <div><span (click)="edit(data.newsId)"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</span></div>
          <div>
            <span *ngIf="data.state === '已发布'" (click)="cancelNews(data.newsId)"><i nz-icon nzType="close-circle" nzTheme="outline"></i>取消发布</span>
            <span *ngIf="data.state != '已发布'" (click)="publishNews(data.newsId)"><i nz-icon nzType="check-circle"></i>发布</span>
          </div>
          <div>
            <span *ngIf="data.state === '回收站'" (click)="delete(data.newsId)"><i nz-icon nzType="delete"></i>永久删除</span>
            <span (click)="recycleNews(data.newsId)"><i nz-icon nzType="rest" nzTheme="outline"></i>移至回收站</span>
          </div>
        </div>
      </ng-template>
    </tr>
    </tbody>
  </nz-table>

</div>
