<div class="content">
  <div class="header">
    <div>
      <h2>资讯管理
        <button nz-button nzType="danger" class="create-button" (click)="openCreateNewsModal()"><i nz-icon nzType="plus"></i>新增资讯</button>
      </h2>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="filter-condition">
    <div class="news-filter">
      <nz-select class="select-control" [(ngModel)]="selectedProgramaValue">
        <nz-option *ngFor="let option of listOfProgramma" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
      </nz-select>
      <input class="name-containing-input" nz-input placeholder="标题关键字" [(ngModel)]="inputValue" />
      <nz-divider nzType="vertical"></nz-divider>
      <nz-select class="select-control" [(ngModel)]="selectedAttributeValue">
        <nz-option [nzValue]="0" nzLabel="全部"></nz-option>
        <nz-option [nzValue]="1" nzLabel="头条"></nz-option>
        <nz-option [nzValue]="3" nzLabel="推荐"></nz-option>
        <nz-option [nzValue]="2" nzLabel="置顶"></nz-option>
      </nz-select>
      <nz-divider nzType="vertical"></nz-divider>
      <nz-select class="select-control" [(ngModel)]="selectedStateValue">
        <nz-option nzValue="" nzLabel="全部状态"></nz-option>
        <nz-option nzValue="published" nzLabel="已发布"></nz-option>
        <nz-option nzValue="unpublished" nzLabel="未发布"></nz-option>
        <nz-option nzValue="trash" nzLabel="回收站"></nz-option>
      </nz-select>
      <button (click)="filterNews()" nz-button nzType="primary" class="search-button"><i nz-icon nzType="search"></i>搜索</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button class="delete-button" nz-button [nzType]="'danger'" [nzLoading]="isOperating" (click)="operateData()"><i nz-icon nzType="delete"></i>删除</button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <nz-table
    #newsListTable
    [nzData]="displayData"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzLoading]="loading"
    [nzPageSize]="10"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="searchData()">
    <thead>
    <tr>
      <th
        nzShowCheckbox
        [(nzChecked)]="isAllDisplayDataChecked"
        [nzIndeterminate]="isIndeterminate"
        (nzCheckedChange)="checkAll($event)"
      ></th>
      <th>ID</th>
      <th>咨询标题</th>
      <th>栏目</th>
      <th>更新时间</th>
      <th>属性</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of newsListTable.data">
      <td
        nzShowCheckbox
        [(nzChecked)]="mapOfCheckedId[data.id]"
        (nzCheckedChange)="refreshStatus()"
      ></td>
      <td>{{data.id}}<br/>
      <td>{{data.title}}<br/>
      <td>{{data.categoryname}}<br/>
      <td>{{data.updatedtime * 1000 | date: 'yyyy-MM-dd HH:mm:ss'}}<br/>
      <td><nz-tag nzMode="checkable" [nzChecked]="data.featured == 1" (nzCheckedChange)="setFeatured(data.id, $event)">头</nz-tag>
      <nz-tag nzMode="checkable" [nzChecked]="data.promoted == 1" (nzCheckedChange)="setPromoted(data.id, $event)">荐</nz-tag>
      <nz-tag nzMode="checkable" [nzChecked]="data.sticky == 1" (nzCheckedChange)="setSticky(data.id, $event)">顶</nz-tag>
      <br/>
      <td>{{data.status == 'published'? '已发布': (data.status == 'trash'? '回收站': '未发布')}}<br/>
      <td><i class="more-operation" nz-popover nzTitle="更多操作" [nzContent]="operationTemplate" nzTrigger="hover" nz-icon nzType="more" nzTheme="outline" nzPlacement="bottom"></i></td>
      <ng-template #operationTemplate>
        <div class="news-management-operation">
          <div><span (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</span></div>
          <div>
            <span *ngIf="data.status === 'published'" (click)="cancelNews(data.id)"><i nz-icon nzType="close-circle" nzTheme="outline"></i>取消发布</span>
            <span *ngIf="data.status != 'published'" (click)="publishNews(data.id)"><i nz-icon nzType="check-circle"></i>发布</span>
          </div>
          <div>
            <span *ngIf="data.status === 'trash'" (click)="delete(data.id)"><i nz-icon nzType="delete"></i>永久删除</span>
            <span *ngIf="data.status !== 'trash'" (click)="recycleNews(data.id)"><i nz-icon nzType="rest" nzTheme="outline"></i>移至回收站</span>
          </div>
        </div>
      </ng-template>
    </tr>
    </tbody>
  </nz-table>

</div>
