<form nz-form [formGroup]="programaEditForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">栏目名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="名称不能为空">
      <input nz-input formControlName="name" id="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="encode">栏目编码</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="编码不能为空">
      <input nz-input formControlName="encode" id="encode" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">父栏目</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select
        nzPlaceHolder="请选择栏目"
        formControlName="programa">
        <nz-option *ngFor="let option of programaOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
